@{Layout = null;}
<html>
<head>
    <meta charset="UTF-8">
    <meta property="qc:admins" content="14762655666425150171163757154072125" />    
    <title>测试</title>
</head>
<body>
    callback
</body>
</html>
