<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>个人首页</title>
    <link rel="stylesheet" href="@{@BaseConfigs.GetUrlCdn}usercenter/styles/person.css">
</head>
<body>
    <!--头部简介 开始-->
    <div class="nav_imgWrap nav_imgWrap-hlwplus">
        <div class="nav_imgCont">
            <img src="@{@BaseConfigs.GetUrlCdn}usercenter/images/bg-12.png">
        </div>
        <div class="intro">
            <img class="intro_logo" src="@{@BaseConfigs.GetUrlCdn}usercenter/images/xieyameiyinglefulan.jpg" alt="">
            <div class="intro_cont">
                <h1 class="intro_cont_name">
                    胡博宇</h1>
                <p>
                    博予有近10年的创业经验。他参与创办了信贷管理软件公司安 硕科技最终在创业板上市（股票代码 SHE:300380）。在创办Blue lake capital之前,博宇在著名的风险投资基金DCM工作.另外博宇还曾就职于摩根士丹利</p>
                <a class="intro_cont_focus" href="#" onclick="attention()">关 注</a>@* <span class="fir_label">
                    蓝湖资本·合作人</span> <span class="sec_label">天使汇认证投资人</span>*@
            </div>
        </div>
        <div class="intro_nav_bg">
            <div class="intro_nav">
                <ul class="intro_nav_ul">
                    <li class="intro_nav_ul_item ">个人首页</li>
                    <li class="intro_nav_ul_item intro_nav_ul_item-current">基本信息</li>
                    <li class="intro_nav_ul_item">创意文章</li>
                    <li class="intro_nav_ul_item">个人相册</li>
                </ul>
                <div class="intro_nav_contact">
                    <a class="intro_nav_contact_in" href="#">
                        <img src="@{@BaseConfigs.GetUrlCdn}usercenter/images/in.png" alt=""></a> <a href="#">
                            <img src="@{@BaseConfigs.GetUrlCdn}usercenter/images/weibo.png" alt=""></a>
                </div>
            </div>
        </div>
    </div>
    <!--头部简介 结束-->
    <div class="person_content">
        <h1 class="person_message_ttl">
            <i class="person_message_ttl-jbxx"></i>基本信息</h1>
        <div class="person_message_div">
            <div class="person_message_div_group">
                <label class="message_label">
                    姓名 :
                </label>
                <span class="message_name">胡博宇</span><span class="verificat_tel">手机验证</span><span
                    class="verificat_email">邮箱验证</span>
            </div>
            <div class="person_message_div_group">
                <label class="message_label">
                    性别 :
                </label>
                <span>男</span>
            </div>
            <div class="person_message_div_group">
                <label class="message_label">
                    学历 :
                </label>
                <span>博士后</span>
            </div>
            <div class="person_message_div_group">
                <label class="message_label">
                    手机号 :
                </label>
                <span>187****7777</span>
            </div>
            <div class="person_message_div_group">
                <label class="message_label">
                    电子邮箱 :
                </label>
                <span>2409938335@qq.com</span>
            </div>
            <div class="person_message_div_group">
                <label class="message_label">
                    自我描述 :
                </label>
                <span class="self_intro">哔哔哔哔哔哔哔哔哔哔哔哔哔哔哔哔哔哔哔哔哔哔哔哔哔哔哔哔哔哔哔哔哔哔哔哔哔哔哔哔哔哔哔哔哔哔哔哔哔哔哔哔哔哔哔哔哔哔哔哔哔哔哔哔</span>
            </div>
        </div>
        <h1 class="person_message_ttl">
            <i class="person_message_ttl-jyjl"></i>教育经历</h1>
        <div class="person_message_div">
            <table border="1" cellspacing="0" cellpadding="5">
                <colgroup>
                    <col style="width: 265px">
                    <col style="width: 260px">
                    <col style="width: 250px">
                    <col style="width: 180px">
                </colgroup>
                <thead>
                    <tr>
                        <td>
                            时间
                        </td>
                        <td>
                            学校名称
                        </td>
                        <td>
                            专业名称
                        </td>
                        <td>
                            学历/证书
                        </td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <span>1996-01</span>至<span>2000-01</span>
                        </td>
                        <td>
                            闽南理工学院
                        </td>
                        <td>
                            信息与计算科学
                        </td>
                        <td>
                            本科
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <h1 class="person_message_ttl">
            <i class="person_message_ttl-gzjl"></i>工作经历</h1>
        <div class="person_message_div">
            <table border="1" cellspacing="0" cellpadding="5">
                <colgroup>
                    <col style="width: 305px">
                    <col style="width: 255px">
                    <col style="width: 200px">
                    <col style="width: 200px">
                </colgroup>
                <thead>
                    <tr>
                        <td>
                            公司名称
                        </td>
                        <td>
                            时间
                        </td>
                        <td>
                            职位
                        </td>
                        <td>
                            部门
                        </td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            创企信息科技有限公司
                        </td>
                        <td>
                            <span>1996-01</span>至<span>2000-01</span>
                        </td>
                        <td>
                            前端
                        </td>
                        <td>
                            研发部
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>
