@{Layout = null;}
<html>
<head>
    <title>梦高速 - 邮箱验证</title>
</head>
<body>
    <h2>
        欢迎使用邮箱验证</h2>
    <p>
    </p>
    <p>
        @if (ViewBag.result)
        {  <span>成功</span>}
        else
        { <span>失败</span> }</p>
</body>
</html>
