<div class="content">
    <!--内容区上部分开始-->
    <div class="cysearch_head">
        <ul class="daohang">
            <li><a href="">首页</a></li>
            <li><span>></span> <a href="">创意设计</a></li>
            <li><span>></span><a href="">品牌设计</a></li>
            <li><span>></span><a href="">logo设计</a></li>
            <li><span>></span>
                <input class="find" type="text" placeholder="在当前条件下搜索">
                <i class="fangdajing"></i></li>
        </ul>
        <div class="filter_box">
            <dl class="cysearch_head_sort clearfix">
                <dt class="cysearch_head_sortt">分类：</dt>
                <dd class="cysearch_head_sortd cysearch_head_sortd-curent" data-id="">
                    全部</dd>
                <dd class="cysearch_head_sortd" data-id="2">
                    logo设计</dd>
                <dd class="cysearch_head_sortd" data-id="3">
                    名片设计</dd>
                <dd class="cysearch_head_sortd" data-id="5">
                    品牌设计</dd>
                <dd class="cysearch_head_sortd" data-id="6">
                    卡通形象设计</dd>
                <dd class="cysearch_head_sortd" data-id="8">
                    海报设计</dd>
                <dd class="cysearch_head_sortd" data-id="9">
                    宣传册设计</dd>
                <dd class="cysearch_head_sortd">
                </dd>
                <dd class="more">
                    更多<i></i>
                    <ul class="moreType clearfix">
                        <li data-id="11">广告牌设计</li>
                        <li data-id="12">横幅设计</li>
                        <li data-id="14">网店设计</li>
                        <li data-id="15">封面设计</li>
                        <li data-id="16">包装设计</li>
                        <li data-id="17">卡通形象设计</li>
                        <li data-id="18">DM设计</li>
                        <li data-id="19">其它宣传品设计</li>
                        <li data-id="20">标签设计</li>
                        <li data-id="21">易拉宝品设计</li>
                        <li data-id="22">户外广告设计</li>
                        <li data-id="23">其它</li>
                    </ul>
                </dd>
            </dl>
            <dl class="cysearch_head_sort clearfix">
                <dt class="cysearch_head_sortt">所在地：</dt>
                <dd class="cysearch_head_sortd cysearch_head_sortd-curent">
                    全国</dd>
                <dd class="cysearch_head_sortd" data-citycode="350100">
                    福州</dd>
                <dd class="cysearch_head_sortd" data-citycode="350800">
                    龙岩</dd>
                <dd class="cysearch_head_sortd" data-citycode="350700">
                    南平</dd>
                <dd class="cysearch_head_sortd" data-citycode="350900">
                    宁德</dd>
                <dd class="cysearch_head_sortd" data-citycode="350300">
                    莆田</dd>
                <dd class="cysearch_head_sortd" data-citycode="350500">
                    泉州</dd>
                <dd class="cysearch_head_sortd" data-citycode="350400">
                    三明</dd>
                <dd class="cysearch_head_sortd" data-citycode="350200">
                    厦门</dd>
                <dd class="cysearch_head_sortd" data-citycode="350600">
                    漳州</dd>
                <dd class="cysearch_head_sortd" data-citycode="210200">
                    大连</dd>
                <dd class="cysearch_head_sortd" data-citycode="230600">
                    大庆</dd>
                <dd class="cysearch_head_sortd" data-citycode="232700">
                    大兴安岭</dd>
                <dd class="cysearch_head_sortd" data-citycode="230000">
                    黑龙江</dd>
                <dd class="cysearch_head_sortd">
                </dd>
                <dd class="more">
                    更多<i></i>
                    <ul class="moreAddr clearfix">
                        <li data-citycode="230100">哈尔滨</li>
                        <li data-citycode="230400">鹤岗</li>
                        <li data-citycode="231100">黑河</li>
                        <li data-citycode="230300">鸡西</li>
                        <li data-citycode="230800">佳木斯</li>
                        <li data-citycode="231000">牡丹江</li>
                        <li data-citycode="230900">七台河</li>
                        <li data-citycode="230200">齐齐哈尔</li>
                        <li data-citycode="230500">双鸭山</li>
                        <li data-citycode="231200">绥化</li>
                        <li data-citycode="230700">伊春</li>
                        <li data-citycode="220800">白城</li>
                        <li data-citycode="220600">白山</li>
                        <li data-citycode="220100">长春</li>
                        <li data-citycode="220200">吉林</li>
                        <li data-citycode="220400">辽源</li>
                        <li data-citycode="220300">四平</li>
                        <li data-citycode="220700">松原</li>
                        <li data-citycode="220500">通化</li>
                        <li data-citycode="222400">延边</li>
                        <li data-citycode="210300">鞍山</li>
                        <li data-citycode="210500">本溪</li>
                        <li data-citycode="211300">朝阳</li>
                        <li data-citycode="210600">丹东</li>
                        <li data-citycode="210400">抚顺</li>
                        <li data-citycode="210900">阜新</li>
                        <li data-citycode="211400">葫芦岛</li>
                        <li data-citycode="210700">锦州</li>
                        <li data-citycode="211000">辽阳</li>
                        <li data-citycode="211100">盘锦</li>
                        <li data-citycode="210100">沈阳</li>
                        <li data-citycode="211200">铁岭</li>
                        <li data-citycode="210800">营口</li>
                    </ul>
                </dd>
            </dl>
        </div>
        <div class="cysearch_choose">
            <ul class="cysearch_chooset">
                <li><a class="sever" href=""></a></li>
            </ul>
            <div class="cysearch_chooseb">
                <span class="moren">默认<i class="paixu"></i></span>
                <!--<span class="xiaoliang">销量<i class="paixu"></i></span>-->
                <span class="fanwei">￥
                    <input class="inbox" type="text" id="minmoney">
                    至
                    <input class="inbox" type="text" id="maxmoney"></span>
                <button class="search">
                    搜索</button>
                <input class="checkbox" type="radio" name="atte" value="" checked="checked">
                <span class="geren">全部</span>
                <input class="checkbox" type="radio" name="atte" value="0">
                <span class="geren">个人认证</span>
                <input class="checkbox" type="radio" name="atte" value="1">
                <span class="qiye">企业认证</span>
            </div>
        </div>
    </div>
    <!--内容区上部分结束-->
    <!--内容区下部分开始-->
    <ul class="cysearch_result">
    </ul>
    <div class="pagination">
    </div>
    <!--主内容区下部分结束-->
</div>
@section scripts{
    <script src="@{@BaseConfigs.GetUrlCdn}scripts/jquery-1.11.3.min.js"></script>
    <script src="@{@BaseConfigs.GetUrlCdn}scripts/template.js"></script>
    <script src="@{@BaseConfigs.GetUrlCdn}scripts/jquery.paging.min.js"></script>
    <script src="@{@BaseConfigs.GetUrlCdn}scripts/jquery.loaddata.js"></script>
    <script src="@{@BaseConfigs.GetUrlCdn}scripts/cysjList.js"></script>
    <script type="text/html" id="cysearchTem">
    {{each data as cysearch}}
    <li class="cysearch_result_list">
      <div class="cysearch_result_list_img">
        {{if cysearch.logo}}
        <img class="photo" src="@{@BaseConfigs.GetImgPath}{{cysearch.logo}}" alt=""> 
        {{/if}}
        {{if !cysearch.logo}}
        <img class="photo" src="{{}}" alt=""> 
        {{/if}}
      </div>
      <div class="cysearch_result_list_cont">
        <div>
          <a class="tittle" target="_blank" href="/detail/{{cysearch.id}}">{{cysearch.title}}</a>
          <span class="cysearch_result_price">￥{{cysearch.money}}</span>
          <span class="cysearch_result_time">截稿日期：{{cysearch.enddate}}</span>
          <span class="cysearch_result_number">浏览人数：{{cysearch.browse}}</span>
        </div>
        <div class="cysearch_result_rz">
          <i class="vip"></i>
          <i class="mingpian"></i>
          <i class="phone"></i>
          <i class="tubiao"></i>
        </div>
        <div class="foot">
          <a class="cysearch_result_name" href="javascript:">{{cysearch.name}}</a>
          <span class="cysearch_result_dingwei">{{cysearch.province_name}}·{{cysearch.city_name}}</span>
          <span class="cysearch_result_call">联系我</span>
        </div>
      </div>
    </li>
    {{/each}}
    </script>
}
