.nav_imgWrap {
  position: relative;
  height: 400px;
  overflow: hidden;
}
.nav_imgCont {
  position: absolute;
  left: 50%;
  top: 0;
}
.nav_imgWrap-hlwplus .nav_imgCont {
  width: 1920px;
  height: 400px;
  margin-left: -960px;
}
.nav_ttl {
  width: 1024px;
  margin: 0 auto;
  overflow: hidden;
}
.nav_ttl a {
  display: inline-block;
  height: 51px;
  overflow: hidden;
}
.zxsj_logo {
  display: inline-block;
  margin-top: 10px;
}
.nav_ul {
  float: right;
  overflow: hidden;
}
.nav_ul_items {
  float: left;
  width: 100px;
  height: 65px;
  line-height: 65px;
  text-align: center;
  font-size: 1.6em;
  cursor: pointer;
}
.nav_ul_items a {
  display: inline-block;
  color: #333;
  line-height: 65px;
}
.nav_ul_items-current,
.nav_ul_items:hover {
  border-bottom: 5px solid #e89800;
  background-color: #efefef;
}
.intro {
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -512px;
  width: 1024px;
  height: 250px;
  color: #fff;
  overflow: hidden;
}
.intro_logo {
  float: left;
  margin-right: 35px;
}
.intro_cont {
  float: left;
  width: 510px;
  font-size: 16px;
}
.intro_cont_name {
  font-size: 30px;
  margin-bottom: 25px;
}
.fir_label {
  position: absolute;
  top: 5px;
  left: 410px;
  padding: 3px 5px;
  border: 1px solid #c2a116;
  color: #c2a116;
  font-size: 18px;
}
.sec_label {
  position: absolute;
  top: 5px;
  left: 585px;
  padding: 3px 5px;
  border: 1px solid #00a60a;
  color: #00a60a;
  font-size: 18px;
}
.intro_cont_focus {
  position: absolute;
  right: 0;
  top: 0;
  padding: 5px 30px;
  border: 1px solid #3e4e70;
  color: #3e4e70;
  font-size: 24px;
  text-align: center;
}
.intro_nav_bg {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: rgba(256, 256, 256, 0.4);
}
.intro_nav {
  width: 1024px;
  margin: 0 auto;
  padding-bottom: 1px;
  overflow: hidden;
}
.intro_nav_ul {
  float: left;
  padding: 0;
  margin-left: 50px;
  margin-bottom: -1px;
  overflow: hidden;
}
.intro_nav_ul_item {
  float: left;
  padding: 0 30px;
  margin-right: 35px;
  color: #fff;
  font-size: 24px;
  text-align: center;
  opacity: 0.6;
  cursor: pointer;
}
.intro_nav_ul_item-current,
.intro_nav_ul_item:hover {
  opacity: 1;
  border-bottom: 3px solid #fff;
}
.intro_nav_contact {
  float: right;
  margin-top: 5px;
}
.intro_nav_contact_in {
  margin-right: 20px;
}
.message_r_fans {
  margin-top: 15px;
}
.message_r_fans_items {
  float: left;
  width: 192px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  font-size: 16px;
  background-color: #f0f0f0;
}
.message_r_fans_items-current {
  background-color: #fff;
}
.focus_show {
  width: 360px;
  padding: 20px;
  background-color: #fff;
}
.pic_show_items {
  float: left;
  margin: 15px 8px 0 0;
}
.pic_show_items-last {
  margin-right: 0;
}
.hide {
  display: none;
}
.person_top {
  width: 1000px;
  margin: 0 auto;
}
.person_top_left {
  float: left;
  width: 560px;
}
.person_ttl {
  font-size: 24px;
  height: 60px;
  line-height: 60px;
}
.person_article {
  position: relative;
  padding: 15px 15px 55px;
  border-top: 1px solid #cdcdcd;
  border-bottom: 1px solid #cdcdcd;
}
.person_article_item {
  height: 40px;
  line-height: 40px;
}
.person_article_item a {
  width: 415px;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #000;
  font-size: 16px;
}
.person_article_item span {
  float: right;
  color: #333;
  font-size: 14px;
}
.readMore {
  position: absolute;
  bottom: 15px;
  right: 15px;
  color: #000;
}
.person_top_right {
  float: right;
  width: 385px;
}
.person_detail {
  position: relative;
  height: 180px;
  padding: 20px;
  background-color: #f0eeef;
}
.person_detail_label {
  float: left;
  width: 70px;
  height: 25px;
  line-height: 25px;
  text-align: right;
  font-size: 14px;
  margin-right: 5px;
}
.person_detail_p {
  float: left;
  width: 270px;
  line-height: 25px;
  font-size: 14px;
}
.person_detail_b {
  margin-top: 20px;
}
.person_edicate {
  float: left;
}
.person_edicate p {
  height: 25px;
  line-height: 25px;
}
.person_detail_tel {
  position: absolute;
  bottom: 55px;
  left: 20px;
  height: 21px;
  padding-left: 20px;
  line-height: 21px;
  background: url(../images/icon-1460180574151.png) no-repeat;
}
.person_detail_email {
  position: absolute;
  bottom: 25px;
  left: 20px;
  height: 12px;
  padding-left: 23px;
  line-height: 12px;
  background: url(../images/icon-1460180574151.png) no-repeat 0 -35px;
}
.person_bottom {
  width: 1000px;
  margin: 0 auto;
}
.person_show {
  width: 1000px;
}
.person_show_item {
  float: left;
  margin-right: 20px;
  margin-bottom: 10px;
}
.person_show_item img {
  width: 180px;
  height: 150px;
}
.person_content {
  width: 1000px;
  margin: 0 auto 30px;
  overflow: hidden;
}
.person_message_ttl {
  height: 60px;
  font-size: 24px;
  line-height: 60px;
}
.person_message_ttl i {
  display: inline-block;
  height: 28px;
  width: 28px;
  margin-bottom: -6px;
  margin-right: 15px;
}
.person_message_ttl-jbxx {
  background: url(../images/personDET.png) no-repeat;
  background-position: -36px -248px;
}
.person_message_ttl-jyjl {
  background: url(../images/personDET.png) no-repeat;
  background-position: -36px -160px;
}
.person_message_ttl-gzjl {
  background: url(../images/personDET.png) no-repeat;
  background-position: -36px -205px;
}
.person_message_div {
  width: 960px;
  padding: 20px;
  margin-bottom: 20px;
  background-color: #ecebeb;
}
.message_label {
  font-size: 18px;
  color: #666;
}
.message_name {
  margin-right: 30px;
}
.person_message_div_group {
  margin-bottom: 30px;
}
.person_message_div_group span {
  font-size: 18px;
  color: #666;
}
.verificat_tel {
  display: inline-block;
  height: 21px;
  padding-left: 20px;
  margin-right: 10px;
  line-height: 21px;
  background: url(../images/icon-1460180574151.png) no-repeat;
}
.verificat_email {
  display: inline-block;
  height: 12px;
  padding-left: 23px;
  line-height: 12px;
  background: url(../images/icon-1460180574151.png) no-repeat 0 -35px;
}
.self_intro {
  display: inline-block;
  width: 820px;
  vertical-align: top;
}
table {
  font-size: 18px;
  text-align: center;
  color: #666;
  border-collapse: collapse;
}
.person_album {
  margin-top: 20px;
}
.album_show {
  margin-top: 10px;
  margin-right: -20px;
}
.album_show_item {
  float: left;
  width: 180px;
  border: 1px solid #ecebeb;
  margin-right: 20px;
  margin-bottom: 30px;
  text-align: center;
}
.album_show_item img {
  height: 150px;
  width: 180px;
  cursor: pointer;
}
.album_show_item p {
  width: 180px;
  height: 30px;
  line-height: 30px;
  font-size: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.model_bg {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 1000px;
  height: 650px;
  margin-top: -325px;
  margin-left: -500px;
  background: rgba(0, 0, 0, 0.7);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#B2000000',endColorstr='#B2000000');
}
.slide {
  position: relative;
  top: 50%;
  left: 50%;
  width: 500px;
  height: 615px;
  margin-top: -307px;
  margin-left: -250px;
  overflow: hidden;
}
.slider {
  position: absolute;
  top: 0;
  left: 0;
  width: auto;
}
.slider li {
  float: left;
  width: 500px;
  height: 615px;
}
.slider li img {
  width: 500px;
  height: 615px;
}
.model_prev,
.model_next {
  position: absolute;
  top: 45%;
  width: 50px;
  height: 50px;
  cursor: pointer;
  background: url(../images/jiantou.png) no-repeat;
}
.model_prev {
  left: 20px;
  background-position: 0 0;
}
.model_next {
  right: 20px;
  background-position: 0 -50px;
}
.model_close {
  position: absolute;
  top: 15px;
  right: 15px;
  height: 30px;
  width: 30px;
  background: url(../images/jiantou.png) no-repeat 0 -108px;
  cursor: pointer;
}


.article-nav {
  float: left;
  width: 250px;
  margin-top: 50px;
}
.classify,
.search {
  border: solid thin #e5e5e5;
  margin-bottom: 50px;
}
.classify {
  padding: 0 15px;
}
.article_title {
  position: relative;
  height: 50px;
  padding-left: 45px;
  line-height: 50px;
  font-size: 20px;
  color: #333;
  background-color: #e5e5e5;
  display: block;
}
.classify_icon {
  position: absolute;
  top: 18px;
  left: 8px;
  width: 22px;
  height: 16px;
  background: url(../images/person-icon.png) 0 -28px;
  display: block;
}
.article_list,
.article_list-last {
  height: 45px;
  width: 190px;
  padding-left: 30px;
  font-size: 17px;
  line-height: 45px;
}
.article_list:hover,
.article_list-last:hover {
  cursor: pointer;
}
.article_list {
    border-bottom: solid thin #e5e5e5;
}
.article_list_link {
  color: #666;
}
.search_icon {
  position: absolute;
  top: 14px;
  left: 10px;
  width: 21px;
  height: 23px;
  background: url(../images/person-icon.png) 0 -49px;
  display: block;
}
.search_input {
  width: 210px;
  height: 25px;
  padding-left: 5px;
  margin: 19px 15px 16px;
}
.search {
  position: relative;
}
.input_icon {
  position: absolute;
  top: 76px;
  left: 205px;
  width: 16px;
  height: 16px;
  background: url(../images/person-icon.png) 0 16px;
  display: block;
}
.article-contace {
  float: right;
  width: 725px;
  
  margin-top: 50px;
}
.article-contace_icon {
  position: absolute;
  top: 14px;
  left: 9px;
  width: 23px;
  height: 23px;
  background: url(../images/person-icon.png);
  display: block;
}
.article_border {
  height: 47px;
  border-bottom: solid thin #e6e6e6;
  margin: 0 16px;
}
.article_link {
  color: #666;
  line-height: 47px;
  font-size: 17px;
}
.article_time {
  float: right;
  font-size: 12px;
  line-height: 47px;
}
.margin_top {
  margin-top: 50px;
}
.person_nav {
  float: left;
  width: 220px;
  border: solid thin #e5e5e5;
  margin: 5px 5px;
}
.person_nav_title {
  position: relative;
  height: 50px;
  padding-left: 30px;
  margin-bottom: 15px;
  line-height: 50px;
  font-size: 19px;
  color: #333;
  background: #e5e5e5;
}
.person_nav_title i {
  position: absolute;
  top: -6px;
  left: -6px;
  width: 55px;
  height: 55px;
  background: url(../images/tuijian.png);
  display: block;
}
.person_nav_list {
  height: 50px;
  padding-left: 10px;
  margin-bottom: 10px;
  font-size: 15px;
  list-style-position: inside;
  list-style-type: square;
}
.person_nav_list a {
  color: #017efe;
  line-height: 30px;
}
.person_nav_list a:hover {
  text-decoration: underline;
}
.person_nav_list p {
  padding-left: 15px;
  font-size: 14px;
  color: #666;
}
.article_content {
  float: right;
  width: 735px;
  border: solid thin #e5e5e5;
  margin-top: 5px;
}
.article_content_top {
  height: 50px;
  padding: 0 15px;
  line-height: 50px;
  font-size: 19px;
  color: #333;
  background: #e5e5e5;
}
.article_content_top a {
  float: right;
  font-size: 14px;
  color: #676767;
}
.article_content_boeder {
  padding: 23px 15px;
}
.article_content_title {
  margin-bottom: 25px;
  font-size: 24px;
  color: #333;
}
.article_content_time {
  float: right;
  padding-top: 12px;
  font-size: 12px;
}
.article_classify {
  padding-left: 20px;
  font-size: 17px;
  color: #676767;
}
.article_classify a {
  color: #007eff;
  font-size: 16px;
}
.article_matter {
  margin: 30px 20px;
  line-height: 30px;
  font-size: 16px;
  color: #656565;
  text-indent: 2em;
}
.person_function {
  padding: 20px;
}
.person_function a {
  color: #0064fe;
}
.praise {
  position: relative;
  margin-left: 30px;
}
.collect,
.read,
.share {
  position: relative;
  margin-left: 60px;
}
.praise i,
.collect i,
.read i,
.share i {
  position: absolute;
  top: -3px;
  left: -27px;
  width: 18px;
  height: 18px;
  background: url(../images/tuijian_icon.png);
  display: block;
}
.collect i {
  top: -2px;
  background-position: 0 -23px;
}
.read i {
  top: 2px;
  height: 14px;
  width: 20px;
  background-position: 0 -45px;
}
.share i {
  top: -1px;
  background-position: 0 18px;
}
.article_jump {
  margin: 0 20px;
  font-size: 16px;
  line-height: 40px;
  color: #656565;
}
.article_jump a {
  color: #007ffe;
}
.bottom {
  height: 70px;
  background-color: #656565;
}
.bottom_contact {
  width: 900px;
  margin: 0 auto;
}
.bottom_contact span {
  position: relative;
  padding-left:230px;
  line-height: 70px;
  color: #e9e9e9;
}
.bottom_contact i {
  position: absolute;
  top: -2px;
  left: 100px;
  width: 100px;
  height: 25px;
  background: url(../images/dreamhiway.png);
}
.bottom_contact a {
  float: right;
  color: #e9e9e9;
}