<?xml version="1.0"?>
<BaseConfigInfo xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <DBConnectString>Data Source=192.168.2.10;Initial Catalog=DHWDB;Persist Security Info=True;User ID=dhw;Password=dhw</DBConnectString>
  <UrlMain>//localhost:8085/</UrlMain>
  <UrlCdn>//192.168.2.10:81/</UrlCdn>
  <UrlZc>//localhost:8088/</UrlZc>
  <UrlKj>//localhost:8087/</UrlKj>
  <UrlHr>//localhost:8086/</UrlHr>
  <UrlZckj>//localhost:8091/</UrlZckj>
  <UrlZb>//localhost:8090/</UrlZb>
  <UrlDiy>//localhost:8092/</UrlDiy>
  <UrlSrdz>//localhost:8093/</UrlSrdz>
  <UrlCqbh>//localhost:8094/</UrlCqbh>
  <UrlZxsj>//localhost:8095/</UrlZxsj>
  <UrlGsss>//localhost:8096/</UrlGsss>
  <UrlRshop>//localhost:8097/</UrlRshop>
  <UrlBbs>http://bbs.dreamhiway.com/</UrlBbs>
  <UrlFj>http://192.168.2.10:82/file/</UrlFj>
  <UrlImg>http://192.168.2.10:82/img/</UrlImg>
  <UrlFjUpload>http://192.168.2.10:82/uploadfj</UrlFjUpload>

  <!--主站地址-->
  <MainPath>http://localhost:8085/</MainPath>
  <!--静态资源网站-->
  <StaticPath>http://192.168.2.10:81</StaticPath>
  <!--上传图片资源网站-->
  <ImgPath>http://192.168.2.10:82/img/</ImgPath>
  <!--图片上传地址-->
  <ImgUploadPath>http://192.168.2.10:82/uploadimg</ImgUploadPath>
  <!--图片剪切地址-->
  <ImgCutPath>http://192.168.2.10:82/imagecut.ashx</ImgCutPath>
  <HotPosition>PHP,新媒体,运营市场,推广运营专员,.Net,产品经理,架构师,交互设计</HotPosition>
  <VirtualPath>/</VirtualPath>
  <TemplatePath>platform_default</TemplatePath>
  <Dbtype>MsSql</Dbtype>
  <Language>MsSql</Language>
  <MultiLang>0</MultiLang>
  <ViewMode>Rewrite</ViewMode>
  <CacheTime>1</CacheTime>
</BaseConfigInfo>