@{
    ViewBag.Title = "梦高速 - 后台管理系统";
}
<!doctype html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>表单</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/backend.css">
    <link rel="stylesheet" href="/css/bootstrap-datepicker.min.css">
    <script src="/lib/angular/angular.min.js" type="text/javascript"></script>
    <script src="/lib/angular-route/angular-route.min.js" type="text/javascript"></script>
</head>
<body>
    <h1>
        欢迎光临</h1>
    <div>
    </div>
</body>
</html>
