/*
* 私人定制
* 何伟
* 2015-11-23
*/
.header_main_find {
  float: right;
  position: relative;
  height: 37px;
  width: 250px;
  margin-top: 25px;
  margin-right: 20px;
  background: url(../images/zbsy11-21_r2_c2.png) -11px -11px no-repeat;
}
.header_main_find_input {
  position: absolute;
  top: 0;
  left: 15px;
  height: 37px;
  line-height: 37px;
  width: 190px;
  padding: 0;
  border: 0;
  color: #666;
}
.header_main_find_btn {
  position: absolute;
  right: 20px;
  top: 6px;
  height: 25px;
  width: 25px;
  border: 0;
  background: url(../images/zbsy11-21_r2_c2.png) -10px -59px no-repeat;
  cursor: pointer;
  padding: 0;
}
/*头部导航*/
.topNav {
  width: 1024px;
  height: 330px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  overflow: hidden;
}
.classify {
  float: left;
  width: 105px;
  padding: 0;
  margin: 0 50px 0 0;
}
.classify_first {
  margin-bottom: 15px;
 font-weight: 700;
  font-size: 1.6em;
}
.classify_items {
  height: 18px;
  padding-left: 10px;
  margin-bottom: 15px;
  font-size: 1.4em;
}
.classify_items a {
  color: #333;
}
.classify_items a:hover {
  color: #e24846;
  text-decoration: none !important;
}
.classify_items i {
  display: inline-block;
  width: 18px;
  height: 18px;
  margin-right: 5px;
  background: url(../images/srdz_08.png) no-repeat;
  vertical-align: text-bottom;
}
.classify_item1 i {
  background: url(../images/icon_srdz.png) no-repeat 0 0;
}
.classify_item2 i {
  background: url(../images/icon_srdz.png) no-repeat 0 -24px;
}
.classify_item3 i {
  background: url(../images/icon_srdz.png) no-repeat 0 -46px;
}
/*轮播*/
.slide {
  position: relative;
  float: left;
  width: 676px;
  height: 330px;
  margin-right: 20px;
  overflow: hidden;
}
.slide-wrap {
  float: left;
  top: 0;
  left: 0;
  width: 3380px;
  height: 330px;
}
.slide-wrap li {
  float: left;
  width: 676px;
  height: 330px;
}
.slider {
  position: absolute;
  bottom: 8px;
  left: 284px;
  overflow: hidden;
}
.slider_items {
  float: left;
  width: 12px;
  height: 15px;
  margin-right: 4px;
  background: url(../images/zbsy11-21_r2_c2.png) -74px -60px no-repeat;
  cursor: pointer;
}
.slider .current {
  background: url(../images/zbsy11-21_r2_c2.png) -97px -60px no-repeat;
}
.topNav_r {
  float: left;
  width: 156px;
}
.topNav_r_t {
  margin-bottom: 20px;
}
/*定制生活*/
.pic_show {
  position: relative;
  width: 1024px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 70px;
}
.pic_show h2,
.store_recom h2 {
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 700;
}
.pic_show ul {
  overflow: hidden;
}
.pic_show_items {
  float: left;
  width: 248px;
  margin-right: 10px;
  margin-top: 10px;
  background-color: #f4f3f3;
}
.pic_show_items-last {
  margin-right: 0;
}
.rmb {
  color: #e24846;
  font-size: 1.6em;
  padding-left: 10px;
}
.rmb span {
  color: #333;
  font-size: 0.8em;
}
.pic_show_intro {
  display: inline-block;
  width: 230px;
  padding: 0 10px;
  margin-top: 5px;
  margin-bottom: 10px;
  color: #333;
  font-size: 1.2em;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.left_arrow,
.right_arrow {
  position: absolute;
  top: 50%;
  height: 32px;
  width: 30px;
  padding: 30px 0;
  margin-top: -50px;
  background-color: #e24846;
  text-align: center;
  cursor: pointer;
}
.left_arrow {
  left: -60px;
}
.left_arrow p {
  display: inline-block;
  border-width: 16px 16px 16px 0;
  border-color: transparent #fff transparent transparent;
  border-style: solid;
}
.right_arrow {
  right: -60px;
}
.right_arrow p {
  display: inline-block;
  border-width: 16px 0 16px 16px;
  border-color: transparent transparent transparent #fff;
  border-style: solid;
}
/*定制生活轮播*/
.pic_show_all {
  position: relative;
  width: 1024px;
  height: 664px;
  overflow: hidden;
}
.pic_show_slide {
  position: absolute;
  left: 0;
  width: 3072px;
  height: 664px;
  overflow: hidden;
}
.pic_show_ul {
  float: left;
  width: 1024px;
}
/*优质定制店*/
.store_recom {
  width: 1024px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  overflow: hidden;
}
.store_recom_m,
.store_recom_logo {
  float: left;
}
.store_recom_logo {
  margin-right: 25px;
}
.store_recom_m {
  margin-right: 50px;
}
.store_recom_m a {
  color: #000;
  font-weight: 700;
  font-size: 1.6em;
}
.store_recom_m_m {
  position: relative;
  width: 180px;
  margin-bottom: 5px;
  padding-top: 10px;
  font-size: 1.4em;
  overflow: hidden;
}
.store_recom_m_m p {
  display: inline-block;
  height: 22px;
  vertical-align: text-bottom;
}
.store_recom_m_m span {
  color: #eb4f38;
}
.store_recom_m_m img{
  position: absolute;
  right: 0;
  top: 8px;
}
.level {
  display: inline-block;
  height: 17px;
  margin-bottom: 5px;
  line-height: 17px;
  font-size: 14px;
}
.level i {
  display: inline-block;
  height: 17px;
  width: 18px;
  margin-right: 5px;
  background: url(../images/zbsy11-21_r2_c2.png) -45px -59px no-repeat;
  vertical-align: text-bottom;
}
.store_recom_m_b {
  font-size: 1.4em;
}
.store_recom_m_b span {
  font-size: 25px;
  color: #eb4f38;
}
.special {
  margin-right: 25px;
}
.store_recom_pic {
  float: left;
 overflow: hidden;
}
.store_recom_pic_items {
  float: left;
  margin-right: 22px;
}
.store_recom_pic_items-last {
  margin-right: 0;
}
/*定制工具*/
.tool {
  width: 1024px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 85px;
}
.tool h1 {
  font-size: 22px;
  text-align: center;
}
.tool_pic {
  margin-top: 30px;
  overflow: hidden;
}
.tool_pic_items {
  float: left;
  margin-right: 40px;
}
.tool_pic_items-last {
  margin-right: 0;
}
/*通用底部logo*/
.footer-l .logo {
  height: 62px;
  background: url(../images/sirendingzhi.png) no-repeat;
}
.footer-l .logo:hover {
  background: url(../images/sirendingzhi.png) no-repeat 0 -62px;
}


/*
* 私人订制详情页
* 何伟
* 2015-11-25
*/
/*顶部详情*/
.title span {
  color: #cb4843;
  font-size: 1.4em;
}
.topDetail {
  width: 1024px;
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
  overflow: hidden;
}
.topDetail_l {
  float: left;
  width: 173px;
  height: 405px;
  padding: 10px;
  margin-right: 32px;
  text-align: center;
  background-color: #f4f4f4;
}
.topDetail_l img {
  width: 100px;
  height: 90px;
  border: 1px solid #bfbfbf;
}
.topDetail_l h1 {
  margin: 18px 0;
  font-size: 2.4em;
}
.topDetail_l_level {
  padding: 0 35px;
  margin: 15px 0;
}
.topDetail_l_level_item {
  float: left;
  width: 18px;
  height: 18px;
  margin-right: 2px;
  background: url(../images/srdzxq-2.png) 0 -112px no-repeat;
}
.topDetail_l_butWrap {
  margin: 15px 0;
  font-size: 14px;
}
.topDetail_l_but {
  width: 36px;
  height: 25px;
  border: 0;
  margin-right: 10px;
  font-size: 1.4em;
  background: url(../images/srdzxq-2.png) 0 -41px no-repeat;
  vertical-align: middle;
  cursor: pointer;
}
.topDetail_l_addr {
  margin-bottom: 20px;
  color: #666;
  font-size: 1.4em;
  text-align: left;
}
.topDetail_l_addr span {
  color: #333;
}
.topDetail_c {
  float: left;
  width: 330px;
}
.topDetail_c_imgWrap {
  margin-bottom: 20px;
}
.topDetail_c_img {
  width: 330px;
  height: 310px;
}
.topDetail_c_pic {
  overflow: hidden;
}
.topDetail_c_pic_items {
  float: left;
  width: 98px;
  height: 88px;
  margin-right: 10px;
  border: 1px solid #bfbfbf;
  cursor: pointer;
}
.topDetail_c_pic_items_img {
  width: 90px;
  height: 80px;
  padding: 4px;
}
.topDetail_r {
  float: right;
  width: 450px;
  font-size: 14px;
}
.topDetail_r h1 {
  font-size: 24px;
}
/*.max-height {
  max-height: 50px;
}*/
.topDetail_r_intro {
  position: relative;
  margin: 14px 0 20px;
  line-height: 22px;
}
/*.more_btn,
.less_btn {
  position: absolute;
  right: 0;
  bottom: 0;
  border: 0;
  color: red;
  background-color: #fff;
  cursor: pointer;
}*/
/*.less_btn {
  display: none;
}*/
.topDetail_r label {
  display: inline-block;
  width: 80px;
  text-align: right;
  margin-right: 10px;
}
.topDetail_r_style {
  overflow: hidden;
}
.topDetail_r_style_l,
.topDetail_r_style_r {
  float: left;
}
.topDetail_r_style_l {
  height: 42px;
  line-height: 42px;
}
.topDetail_r_style_r {
  width: 360px;
}
.topDetail_r_style_span {
  float: left;
  position: relative;
  height: 38px;
  padding: 0 12px;
  border: 1px solid #e5e5e5;
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 38px;
  cursor: pointer;
}
.topDetail_r_style_span.active {
  height: 36px;
  padding: 0 11px;
  border: 2px solid #cb4843;
  line-height: 36px;
}
.topDetail_r_style_span i {
  display: none;
  position: absolute;
  right: -1px;
  bottom: -1px;
  width: 18px;
  height: 15px;
  background: url(../images/srdzxq-2.png) no-repeat;
}
.topDetail_r_style_span.active i {
  display: block;
}
.topDetail_r_style {
  margin-bottom: 20px;
}
.topDetail_r_qua {
  height: 42px;
}
.topDetail_r_qua label {
  line-height: 42px;
  vertical-align: text-bottom;
}
.topDetail_r_qua_red {
  background: url(../images/red.png)
}
.topDetail_r_qua_add {
  background: url(../images/add.png)
}
.topDetail_r_qua_red,
.topDetail_r_qua_add {
  display: inline-block;
  height: 40px;
  width: 40px;
  border: 1px solid #e5e5e5;
  background-color: #eee;
  text-align: center;
  cursor: pointer;
}
.topDetail_r_qua input {
  width: 50px;
  height: 40px;
  padding: 0 15px;
  border: 1px solid #e5e5e5;
  border-left: 0;
  border-right: 0;
  font-size: 14px;
  text-align: right;
  line-height: 42px;
  vertical-align: text-bottom;
}
.topDetail_r_qua_total,
.topDetail_r_qua_red,
.topDetail_r_qua_add {
  line-height: 42px;
  vertical-align: text-bottom;
}
.topDetail_r_qua_total {
  margin-left: 15px;
}
.topDetail_r_price {
  line-height: 48px;
  height: 48px;
  margin: 25px 0;
  background-color: #eee;
}
.topDetail_r_price label {
  vertical-align: text-bottom;
}
.topDetail_r_price span {
  display: inline-block;
  width: 335px;
  text-align: center;
  font-size: 28px;
  color: #cb4843;
  vertical-align: text-bottom;
}
.topDetail_r_bt {
  margin-bottom: 15px;
  text-align: center;
}
.topDetail_r_btn {
  display: inline-block;
  width: 100px;
  height: 25px;
  padding: 8px 50px;
  border: 0;
  border-radius: 5px;
  color: #fff;
  font-size: 24px;
  background-color: #cb4843;
  text-align: center;
  line-height: 25px;
  cursor: pointer;
}
.topDetail_r_b {
  text-align: center;
}
.topDetail_r_b li {
  display: inline-block;
  vertical-align: top;
}
.hd_cont_l_keep {
  color: #333;
  margin-right: 30px;
}
.Mtitle {
  width: 1022px;
  border: 1px solid #dcdcdc;
  margin-top: 40px;
  overflow: hidden;
}
.Mtitle_items {
  float: left;
  width: 200px;
  height: 50px;
  border-right: 1px solid #dcdcdc;
  font-size: 18px;
  color: #666;
  text-align: center;
  line-height: 50px;
  cursor: pointer;
}
.Mtitle_items_current {
  color: #cb4843;
}
.spxq,
.yhpj_all,
.cjjl {
  padding: 0 95px;
  border: 1px solid #dcdcdc;
  border-top: 0;
}
.spxq {
  padding: 20px 0 30px;
}
.spxq img {
  max-width: 820px;
}
.spxq p {
  margin: 30px 0;
  font-size: 16px;
}

/*商品详情，临时 卢铭怀*/
.spxq h4 {
  font-weight: 700;
  font-size: 22px;
}
.spxq h5 {
  font-weight: 700;
  font-size: 18px;
}

.yhpj {
  display: none;
}
.yhpj_all {
  padding: 25px 95px;
}
.yhpj_cont {
  overflow: hidden;
}
.yhpj_logo {
  float: left;
  margin-right: 30px;
  text-align: center;
  font-size: 1.6em;
}
.yhpj_logo img{
  width: 46px;
  height: 46px;
}
.yhpj_intro {
  float: left;
  width: 640px;
  line-height: 25px;
  font-size: 1.4em;
}
.yhpj_intro i {
  display: inline-block;
  height: 17px;
  width: 19px;
  background: url(../images/srdzxq-2.png) 0 -113px no-repeat;
  vertical-align: text-bottom;
}
.yhpj_intro p {
  color: #666;
}
.yhpj_intro span {
  color: #999;
}
.cjjl {
  display: none;
  padding: 0 45px;
}
.cjjl table {
  width: 822px;
  margin-right: auto;
  margin-left: auto;
}
.cjjl thead {
  margin-bottom: 20px;
  border-bottom: 1px solid #a0a0a0;
}
.cjjl thead td {
  height: 60px;
  border-bottom: 1px solid #a0a0a0;
  font-size: 1.8em;
  line-height: 60px;
  color: #333;
}
.cjjl_person {
  width: 175px;
}
.cjjl_price {
  width: 210px;
}
.cjjl_project {
  width: 325px;
}
.xjjl_time {
  width: 115px;
}
.cjjl tbody {
  height: 50px;
  line-height: 50px;
  font-size: 14px;
  color: #666;
}
/*
  私人定制 列表页
  陈树阳
  2015.11.26
*/
.liebiao_top {
  margin-bottom: 10px;
  font-size: 11px;
  line-height: 20px; 
}
.liebiao_top a {
  color: #333;
}
.lb_text,
.lb_input {
  float: left;
  font-size: 13px;
}
.lb_input input {
  height: 20px;
  width: 130px;
  border: 1px solid #ddd;
  margin-left: 5px;
  padding-left: 5px;
  line-height: 20px;
}
.lb_input {
  position: relative;
}
.lb_input button {
  position: absolute;
  right: 7px;
  top: 50%;
  width: 14px;
  height: 14px;
  border: 0;
  margin-top: -7px;
  background: url(../images/srdz_lb_02.jpg) no-repeat;
  cursor: pointer;
}
.lb_r {
  float: right;
}
.lb_r a {
  padding: 0 10px;
  font-size: 13px;
}
.main {
  border: 1px solid #e7e7e7;
}
.cont_fl {
  padding: 15px;
  border-bottom: 1px solid #e7e7e7;
}
.cont_fl h4 {
  float: left;
  margin: 0 30px 0;
  font-size: 15px;
  height: 60px;
}
.cont_fl ul li {
  float: left;
  font-size: 12px;
  width: 100px;
  margin-right: 20px;
  color: #777;
  line-height: 30px;
}
.cont_choose {
  background: #f8f8f8;
  border-bottom: 1px solid #e7e7e7;
  font-size: 13px;
}
.choose_tj li {
  float: left; 
  height: 45px;
  width: 70px;
  border-right: 1px solid #e7e7e7;
  text-align: center;
  line-height: 45px;
  color: #000;
  cursor: pointer;
}
.choose_tj li.active {
  color: #e24846;
}
.jg_first {
  margin-left: 15px;
}
.choose_jg li {
  float: left;
  margin-right: 15px;
  line-height: 45px;
  color: #777;
  font-size: 12px;
  cursor: pointer;
}
.choose_jg li.active {
  color: #e24846;
}
.cont_psz {
  padding: 10px 15px;
  background: #f8f8f8;
  border-bottom: 1px solid #e7e7e7;
  font-size: 12px;
  line-height: 23px;
}
.cont_psz ul li {
  float: left;
  margin-right: 10px;
}
.cont_psz_item1,
.cont_psz_item2 {
  float: left;
  margin-right: 20px;
}
.cont_psz_item2 {
  color: #777;
}
.cont_psz_item2 input {
  margin-right: 10px;
}
.cont_main {
  padding: 35px 40px;
  margin-right: -45px;
}
.cont_main ul li {
  float: left;
  border: 1px solid #e7e7e7;
  margin-right: 45px;
  margin-bottom: 20px;
  box-shadow: 1px 1px 3px #bbb;
}
.cont_main ul li img {
  width: 280px;
  height: 280px;
}
.cont_main .last {
  margin-right: 0;
}
.cont_main_text {
  padding: 15px 10px;
  font-size: 12px;
  line-height: 20px;
}
.cont_main_text a {
  display: block;
  margin-bottom: 10px;
  width: 260px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #777;
}
.cont_main_text span {
  color: #777;
}
.cont_main .cont_main_red {
  color: #e24846;
}
.cjjl_wrap {
  min-height: 300px;
}

/*何伟*/
.footer-l .logo {
  height: 62px;
  background: url(../images/srdz_logo.png) no-repeat 0 -62px;
}
.footer-l .logo:hover {
  background: url(../images/srdz_logo.png) no-repeat;
}
.bdsharebuttonbox {
  display: inline-block;
}

/*谌基旭
2016.1.20 修改列表图片宽高
*/
.pic_show_items img {
  width: 248px;
  height: 249px;
}


/*私人定制订单*/
/*头部进度条*/
.pay_progress {
  width: 1160px;
  height: 37px;
  border: 1px solid #ededed;
  margin: 20px auto;
}
.pay_progress_items {
  position: relative;
  float: left;
  width: 290px;
  height: 37px;
  line-height: 37px;
  text-align: center;
}
.triangle {
  position: absolute;
  top: 0;
  border-style: solid;
  border-width: 19px 0 19px 19px;
}
.white_trian {
  right: -19px;
  border-color: transparent transparent transparent #fff;
  z-index: 10;
}
.grey_trian {
  right: -20px;
  border-color: transparent transparent transparent #ededed;
  z-index: 9;
}
.complete {
  background-color: #fda6a3;
  color: #fff;
}
.complete i {
  border-color: transparent transparent transparent #fda6a3;
}
.complete .grey_trian {
  right: 19px;
}

/*订单信息填写*/
.order {
  width: 1160px;
  margin: 0 auto 30px;
  overflow: hidden;
  border: 1px solid #ececec;
}
.order_firstTtl {
  padding: 20px;
  border-bottom: 1px solid #ededed;
  font-size: 22px;
  background-color: #fafafa;
}
.order_content {
  padding: 20px;
}
.orderfill_not {
  height: 48px;
  padding-left: 20px;
  border: 1px solid #ffc38a;
  background-color: #fffcf5;
  font-size: 14px;
  color: #ff7901;
  line-height: 48px;
}
.orderfill_not span {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 5px;
  margin-top: -3px;
  background: url(../images/002.png) -3px -2px no-repeat;
 vertical-align: middle;
}
.order_secondTtl {
  border-bottom: 1px solid #ececec;
  margin-bottom: 25px;
  font-size: 18px;
  line-height: 55px;
}
/*去除旧版选择详细地址，新增新的用户填写方式*/
.address_tem_input {
  margin: 0px 0px 20px 0px; 
}
.address_tem_input label {
  display: inline-block;
  width: 116px;
  height: 37px;
  line-height: 37px;
  font-size: 14px;
  text-align: right;
}
.areaSelect {
  position: relative;
  height: 30px;
  margin-bottom: 5px;
  border: 1px solid transparent;
  font-size: 14px;
  line-height: 30px;
}
.areaSelect i {
  vertical-align: middle;
}
.selected_addr {
  border: 1px solid #ffc38a;
  background-color: #fffcf5;
}
.sendFor {
  display: none;
  float: left;
  width: 100px;
  margin-right: 10px;
  color: #ff7901;
  text-align: right;
}
.sendFor i {
  display: inline-block;
  width: 14px;
  height: 19px;
  margin-right: 5px;
  background: url(../images/002.png) -5px -19px no-repeat;
}
.selected_addr .sendFor {
  display: block;
}
.select_icon {
  display: inline-block;
  width: 14px;
  height: 14px;
  margin-top: -2px;
  margin-right: 5px;
  background: url(../images/002.png) -39px -2px no-repeat;
  cursor: pointer;
}
.selected_addr .select_icon,
.selected_icon {
  display: inline-block;
  width: 14px;
  height: 14px;
  background: url(../images/002.png) -22px -2px no-repeat;
}
.user_infor {
  position: absolute;
  left: 110px;
  width: 800px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.operate {
  display: none;
  float: right;
}
.selected_addr .operate {
  display: block;
}
/*.orderfill_name,
.orderfill_phone {
  margin-right: 10px;
}*/
.operate_items {
  float: left;
  height: 13px;
  padding: 0 15px;
  color: #0091e6;
  cursor: pointer;
}
.operate_items_grey {
  color: #999;
}
.newAddr {
  margin-top: 25px;
  margin-left: 110px;
  font-size: 14px;
  cursor: pointer;
}
.selected_icon {
  margin-top: -2px;
  margin-right: 5px;
  cursor: pointer;
}
.invoice {
  height: 30px;
  font-size: 14px;
  line-height: 30px;
}
.invoice i {
  vertical-align: middle;
}
.redStar {
  color: red;
}
.invoice_div {
  margin-bottom: 25px;
}
.invoiceLabel {
  display: inline-block;
  width: 115px;
  height: 35px;
  /*margin-right: 10px;*/
  line-height: 35px;
  font-size: 14px;
}
.invoiceInput,
.invoiceInput_long {
  width: 240px;
  height: 33px;
  padding-left: 10px;
  border: 1px solid #ededed;
}
.invoiceInput_long_textarea {
  width: 480px;
  height: 300px;
  padding-left: 10px;
  border: 1px solid #ededed;
  vertical-align: top;
}
.riskDetail {
  padding: 12px 15px;
  border: 1px solid #ffc38a;
}
.riskDetail_ttl {
  height: 25px;
  line-height: 25px;
  font-size: 14px;
  font-weight: 700;
}
.riskDetail_ttl i {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 5px;
  margin-top: -2px;
  vertical-align: middle;
  background: url(../images/002.png) -3px -2px no-repeat;
}
.riskDetail_ul {
  margin-top: 10px;
  margin-bottom: 15px;
}
.riskDetail_ul_items {
  line-height: 20px;
  font-size: 12px;
}
.nextBtn {
  margin-top: 25px;
  text-align: center;
}
.nextBtn_btn {
  width: 110px;
  height: 40px;
  border: 0;
  border-radius: 5px;
  color: #fff;
  background-color: #ea544a;
  cursor: pointer;
}

/*地址弹出框*/
.newaddr_model {
  width: 940px;
  height: 550px;
  margin-left: -470px;
}
.newaddr_model .model_cont {
  overflow-y: visible;
}
.addrForm {
  position: relative;
}
.newaddrForm {
  margin-bottom: 15px;
}
.newaddr_ttl {
  margin-left: 20px;
  margin-bottom: 15px;
  font-size: 12px;
}
.newaddr_ttl span {
  margin-right: 10px;
  color: #fc6210;
}
.newaddrForm_label {
  display: inline-block;
  width: 90px;
  margin-right: 5px;
  text-align: right;
}
.newaddrForm_label_required {
  color: #fc6210;
}
.newaddrForm_input {
  width: 190px;
  height: 28px;
  padding: 0 10px;
  border: 1px solid #cdd7d7;
  font-size: 12px;
}
.newaddrForm_textarea {
  width: 380px;
  height: 70px;
  padding: 0 10px;
  border: 1px solid #cdd7d7;
  vertical-align: top;
}
.newaddrForm_input-short {
  width: 50px;
}
.newaddrForm_btn {
  width: 70px;
  height: 30px;
  border: 0;
  border-radius: 5px;
  margin-left: 98px;
  background-color: #ff4001;
  color: #fff;
  cursor: pointer;
}
.order_addr {
  display: none;
  position: absolute;
  top: 30px;
  max-height: 150px;
  min-width: 70px;
  background-color: #fff;
  text-align: center;
  cursor: pointer;
  overflow-y: scroll;
}
.addr_province {
  left: 100px;
}
.addr_city {
  left: 175px;
}
.addr_county {
  left: 253px;
}
.addr_province li:hover,
.addr_county li:hover,
.addr_city li:hover {
  color: #fff;
  background-color: #fc6210;
}

/*支付弹出框*/
.model_bg {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.7;
  z-index: 11;
}
.model {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 690px;
  height: 542px;
  border: 5px solid #676767;
  margin-top: -267px;
  margin-left: -345px;
  z-index: 12;
  background-color: #fff;
}
.model_ttl {
  position: relative;
  padding: 25px 20px;
  font-size: 16px;
  color: #333;
}
.model_cancel {
  position: absolute;
  right: 20px;
  top: 25px;
  font-size: 20px;
  cursor: pointer;
}
.model_cont {
  height: 430px;
  padding: 20px;
  border-top: 1px solid #ececec;
  overflow-y: scroll;
}
.orderFinish_model_bg {
  display: block;
}
.orderFinish_model {
  display: block;
  height: 310px;
  padding-bottom: 20px;
}
.orderFinish_model .model_cont {
  overflow-y: visible;
}
.model_cont_t {
  border-bottom: 1px solid #ccc;
  margin-bottom: 10px;
  font-size: 13px;
}
.successPay,
.failPay {
  display: inline-block;
  height: 18px;
  padding: 0 15px 0 20px;
  border-right: 1px solid #c6b79e;
  font-weight: 700;
}
.successPay {
  background: url(../images/44.png) no-repeat;
}
.choise {
  margin-left: 15px;
  margin-right: 5px;
  color: #666;
}
.blueWord {
  color: #00a9ed;
}
.failPay {
  background: url(../images/44.png) 0 -18px no-repeat;
}
.model_cont_t_p {
  margin-bottom: 15px;
}
.model_cont_t_p img {
  vertical-align: middle;
  border: 1px solid #ccc;
  cursor: pointer;
}
.model_cont_b h2 {
  height: 18px;
  line-height: 18px;
  padding-left: 25px;
  margin-bottom: 10px;
  background: url(../images/44.png) 0 -36px no-repeat;
  font-weight: 700;
}
.moreHelp {
  background-color: #dff2ff;
  font-size: 14px;
  font-weight: 500;
}
.model_cont_b dt {
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
}
.model_cont_b dd {
  margin-bottom: 15px;
  font-size: 12px;
  color: #666;
}

/*订单确认页面*/
.inforLabel {
  display: inline-block;
  width: 120px;
  margin-right: 5px;
  line-height: 35px;
  text-align: right;
  font-size: 12px;
  color: #444;
}
.buyerInfor {
  padding-bottom: 5px;
  border-bottom: 1px dashed #ececec;
  margin-bottom: 5px;
}
.order_table {
  width: 100%;
  border: 1px solid #e6e6e6;
  border-collapse: collapse;
}
.order_table thead {
  line-height: 40px;
  background-color: #f4f4f4;
}
.order_table thead th {
  font-weight: normal;
}
.order_table tbody {
  text-align: center;
  line-height: 25px;
  font-size: 14px;
}
.order_table tbody tr {
  min-height: 100px;
}
.order_table tbody td {
  padding: 30px 0;
  border: 1px solid #e6e6e6;
}
.order_reduce,
.order_add {
  display: inline-block;
  height: 26px;
  width: 26px;
  border: 1px solid #ccc;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
  font-size: 22px;
  vertical-align: middle;
}
.order_reduce {
  margin-right: 5px;
}
.disableReduce {
  color: #c8c8c8;
  background-color: #f2f2f2;
}
.order_add {
  margin-left: 5px;
}
.order_count {
  width: 35px;
  height: 26px;
  padding: 0;
  border: 1px solid #ccc;
  text-align: center;
  vertical-align: middle;
}
.redWord {
  color: red;
}
.order_detail {
  padding: 10px 5px;
  font-size: 13px; 
}
.order_company {
  padding: 0 5px;
}

/*付款——李雅丽*/
.fukuan {
  width: 1160px;
  height: 782px;
  margin: 0 auto;
  border: 1px solid #ececec;
}
.order_ttl i {
  display: inline-block;
  height: 28px;
  width: 30px;
  margin-right: 10px;
  vertical-align: middle;
  background: url('../images/qingzhifu.png') no-repeat;
}
.orderPay {
  padding: 0 20px;
}
.fukuan_way {
  margin-bottom: 45px;
  font-size: 18px;
  color: #333;
}
.payWay {
  display: inline-block;
  width: 965px;
  padding-bottom: 45px;
  margin-bottom: 25px;
  border-bottom: 1px solid #ededed;
}
.fukuan_way span {
  color: #ea544a;
}

.fukuan_radiot {
  float: left;
  margin-right: 30px;
}
.fukuan_radiot-last {
  margin: 0;
}
.fukuan_radiot i {
  display: inline-block;
  height: 16px;
  width: 16px;
  margin-top: -45px;
  margin-right: 5px;
  background: url('../images/radio2.png') no-repeat 0 -1px;
  vertical-align: middle;
}
.fukuan_pic {
  border: 1px solid transparent;
}
.fukuan_radioo i {
  background: url('../images/radio1.png') no-repeat;
}
.fukuan_radioo .fukuan_pic {
  border: 1px solid red;
}


.bottom {
  text-align: center;
  margin-bottom: 30px;
}
.bottom p {
  margin-top: 20px;
  font-size: 14px;
}
.paynow,
.return {
  width: 110px;
  height: 40px;
  border: 0;
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}
.paynow {
  margin-right: 10px;
  background-color: #ea544a;
}
.return {
  background-color: #cbcbcb;
}

.bottom p {
  text-align: center;
}

/*支付完成*/
.pay_l {
  float: left;
  width: 340px;
  margin-top: 68px;
  margin-left: 253px;
  background: url(../images/wancheng.png) no-repeat;
}

.text {
  margin-top: 26px;
  margin-left: 60px;
  height: 24px;
  line-height: 24px;
  font-size: 16px;
  font-weight: bold;
  color: #333;
}
.number {
  margin-left: 63px;
  height: 30px;
  line-height: 30px;
  font-size:12px;
  color: #ea544a;
}
.online {
  margin-top: 23px;
  margin-left: 32px;
  font-size: 12px;
  color: #333;
} 
.pay_l .details {
  display: inline-block;
  margin-top: 14px;
  margin-left: 32px;
  text-decoration: none;
  font-size: 12px;
  color: #333;
}
.pay_l .going
 {
  width: 150px;
  height: 40px;
  margin-top: 15px;
  margin-left: 33px;
  font-size: 20px;
  color: #fff;
  background-color: #ea544a;
  border: 1px solid #ea544a;
  border-radius: 10px;
}
.pay_r {
 float: right;
 margin-top: 112px;
 margin-right: 238px;
}
.pay_r img {
  margin-left: 60px;
}
.pay_r p { 
  margin-top: 8px;
  font-size: 16px;
  color: #333;
}
.pay_b {
  float: left;
  margin-left: 100px;
  margin-top: 178px;
  color: #333;
  font-size: 16px;
}
.important {
  height: 46px;
  line-height: 46px;
  font-weight: bold;
}
.pay_b p {
  height: 32px;
  line-height: 32px;
}
.pay_b span {
  color: #ea544a;
}

.pay_b a {
  text-decoration: none;
}
.notice {
  color: #0054ff;
}

/*订单详情*/
.order_detail_set {
  float: left;
  width: 400px;
}
.order_detail_det {
  padding-left: 90px;
}
.detail_table {
  margin-top: 30px;
}
.orderDet_pic {
  width: 125px;
  height: 90px;
}

/*物流信息*/
.order_wuliu {
  padding: 0 100px;
}
.process_item {
  display: inline-block;
  height: 97px;
  width: 245px;
  margin-right: 10px;
}
.order_wuliu_proc {
  margin-top: 30px;
}
.step_one {
  background: url(../images/liucheng.png) no-repeat 0 -388px;
}
.step_two {
  background: url(../images/liucheng.png) no-repeat 0 -485px;
}
.step_three {
  background: url(../images/liucheng.png) no-repeat 0 -582px;
}
.step_four {
  width: 73px;
  background: url(../images/liucheng.png) no-repeat 0 -679px;
}
.order_wuliu_state {
  padding: 30px 0;
  border-bottom: 2px #bcbcbc dashed;
  margin-bottom: 25px;
  font-size: 21px;
}
.order_wuliu_process_date,
.order_wuliu_process_proc {
  float: left;
}
.order_wuliu_process_date {
  margin-right: 5px;
}
.order_wuliu_process {
  margin-bottom: 30px;
}
.step_one_finish {
  background: url(../images/liucheng.png) no-repeat 0 0;
}
.step_two_finish {
  background: url(../images/liucheng.png) no-repeat 0 -97px;
}
.step_three_finish {
  background: url(../images/liucheng.png) no-repeat 0 -194px;
}
.step_four_finish {
  background: url(../images/liucheng.png) no-repeat 0 -291px;
}

/*头部分类栏样式修改*/
.cysearch_head_sort {
  width: 1022px;
  margin-top: 10px;
}
.cysearch_head_sortt {
  float: left;
  width: 70px;
  margin-left: 20px;
  font-size: 15px;
  text-align: right;
}
.cysearch_head_sortd {
  float: left;
  padding: 0 10px;
  margin-right: 3px;
  font-size: 14px;
  cursor: pointer;
  line-height: 25px;
  transition: all 0.5s;
}
.cysearch_head_sortd-curent {
  color: #fff;
  background-color: #ff4947;
}
.cysearch_head_sortd:hover{
  color: #fff;
  background-color: #ff4947;
}