<!--内容区 开始-->
<div class="content_ssgs">
    <div class="ssgs_section1">
        <img src="@{@BaseConfigs.GetUrlCdn}ssgs/images/ssgs_01.jpg" alt="">
    </div>
    <div class="ssgs_section2">
        <img src="@{@BaseConfigs.GetUrlCdn}ssgs/images/ssgs_03.jpg" alt="">
    </div>
    <div class="ssgs_section3">
        <div class="ssgs_section3_item1">
            <div class="ssgs_section3_ttl">
                卓越的品质，超值的价格</div>
            <div class="ssgs_section3_item1_cont">
                <p>
                    1、业务基本独立，具有持续经营能力的股份有限公司；</p>
                <p>
                    2、不存在显著的同业竞争、显失公允的关联交易、额度较大的股东侵占资产等损害投资者利益的行为；</p>
                <p>
                    3、在经营和管理上具备风险控制能力；</p>
                <p>
                    4、治理结构健全，运作规范；</p>
                <p>
                    5、股份的发行、转让合法合规；</p>
                <p>
                    6、公司经研发后取得明显的技术突破；</p>
            </div>
        </div>
        <div class="ssgs_section3_item2">
            <div class="ssgs_section3_ttl">
                上市找梦高速，实力有依据</div>
            <div class="ssgs_section3_item2_cont">
                <ul class="clearfix">
                    <li>
                        <p>
                            上市溶脂般吧学院分享站在巨人肩膀上上市溶脂般王后期看博人的成功理财</p>
                    </li>
                    <li>
                        <p>
                            上市溶脂般吧学院分享站在巨人肩膀上上市溶脂般王后期看博人的成功理财</p>
                    </li>
                    <li>
                        <p>
                            上市溶脂般吧学院分享站在巨人肩膀上上市溶脂般王后期看博人的成功理财</p>
                    </li>
                </ul>
            </div>
        </div>
        <div class="ssgs_section3_item3">
            <div class="ssgs_section3_ttl">
                知名的投资人</div>
            <div class="ssgs_section3_item3_cont">
                <ul>
                    <li>
                        <img src="@{@BaseConfigs.GetUrlCdn}ssgs/images/xieyameiyinglefulan1.jpg" alt="">
                        <p>
                            沈难碰</p>
                        <p>
                            深圳市汉能投资几天众筹</p>
                    </li>
                    <li>
                        <img src="@{@BaseConfigs.GetUrlCdn}ssgs/images/xieyameiyinglefulan1.jpg" alt="">
                        <p>
                            沈难碰</p>
                        <p>
                            深圳市汉能投资几天众筹</p>
                    </li>
                    <li>
                        <img src="@{@BaseConfigs.GetUrlCdn}ssgs/images/xieyameiyinglefulan1.jpg" alt="">
                        <p>
                            沈难碰</p>
                        <p>
                            深圳市汉能投资几天众筹</p>
                    </li>
                    <li>
                        <img src="@{@BaseConfigs.GetUrlCdn}ssgs/images/xieyameiyinglefulan1.jpg" alt="">
                        <p>
                            沈难碰</p>
                        <p>
                            深圳市汉能投资几天众筹</p>
                    </li>
                </ul>
            </div>
        </div>
        <div class="ssgs_section3_item4">
            <div class="ssgs_section3_ttl">
                中介机构</div>
            <div class="ssgs_section3_item4_cont">
                <ul>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="ssgs_section4">
        <p class="ssgs_section4_p1">
            选择梦高速走向资本市场</p>
        <p class="ssgs_section4_p2">
            今日，就让你的企业上市，企业咨询热线：400-036-7708</p>
    </div>
</div>
<!--内容区 结束-->
