@{ViewBag.Title = "产权保护-法律服务";}
  <div class="flfw_top_wrap">
    <div class="flfw_top">
      <a class="flfw_btn" href="/">
      马上订购
    </a>
    </div>   
  </div>
  <div class="flfw_cont_wrap">
    <div class="flfw_cont">
      <ul class="flfw_cont_items">
        <li class="flfw_cont_item flfw_cont_item_1">
          <h3>注册公司</h3>
          <p>
            注册公司并拿到营业执照是创业团队合法经营的第一步，</br>
            也是企业微信、微博认证的前提条件。</br>
            创立公司是为了让创业“名正言顺”。          
          </p>
          <i>1</i>
        </li>
        <li class="flfw_cont_item flfw_cont_item_2">
          <h3>合伙协议</h3>
          <p>
            为创业寻找合伙人，组建创始团队，</br>
            并由全体成员通过《合伙协议》，</br>
            明确约定每个创始人的股份比例等相关事宜。</br>
            以解除后顾之忧，安心创业。         
          </p>
          <i>2</i>
        </li>
        <li class="flfw_cont_item flfw_cont_item_1">
          <h3>公司变更</h3>
          <p>
            公司变更是所有企业发展过程中几乎都会碰到的节点，</br>
            公司变更种类很多，手续之复杂不亚于注册公司。</br>         
          </p>
          <i>3</i>
        </li>
        <li class="flfw_cont_item flfw_cont_item_2">
          <h3>法律文书</h3>
          <p>
            合同、协议、律师函的起草是所有企业的必备工作，</br>
            需要专业的法律人士经手，</br>
            初创团队往往缺乏相关技能，</br>
            而造成不必要的损失。         
          </p>
          <i>4</i>
        </li>
        <li class="flfw_cont_item flfw_cont_item_1">
          <h3>社保开户</h3>
          <p>
            每个月为员工缴纳社保是企业的法定义务，</br>
            因为公司注册成功以后需要开立企业社保账户。</br>
            因手续复杂且每月都要操作，</br>
            很多公司也会选择社保代理服务。         
          </p>
          <i>5</i>
        </li>
        <li class="flfw_cont_item flfw_cont_item_2">
          <h3>融资法务</h3>
          <p>
            为了产品的进一步发展，初创团队需要引入天使投资，</br>
            但对融资谈判缺乏实战经验。</br>
            什么钱能拿、怎么拿、如何规避风险，</br>
            都需要专业律师的意见。         
          </p>
          <i>6</i>
        </li>
      </ul>
    </div>
  </div>