@{ViewBag.Title = "产权保护-首页";}
<div class="cqbh_bgWrap">
    <div class="cqbh_bg">
    </div>
</div>
<div class="cqbh">
    <form>
    <input class="cqbh_text" type="text">
    <input class="cqbh_btn" type="button" value="免费查询能否注册">
    </form>
    <ul class="cqbh_items">
        <li class="cqbh_item1 current"><a href="/sbzc">商标</br>注册</a> <i></i></li>
        <li class="cqbh_item2"><a href="#">版权</br>登记</a> <i></i></li>
        <li class="cqbh_item3"><a href="#">法律</br>服务</a> <i></i></li>
        <li class="cqbh_item4"><a href="#">软件</br>著作权</a> <i></i></li>
    </ul>
    <div class="cqbh_img">
        <img src="@{@BaseConfigs.GetUrlCdn}cqbh/images/cqbh_02.jpg" alt=""></div>
</div>
