@{ViewBag.Title = "产权保护-商标注册";}
<div class="sbzc_wrap">
    <div class="sbzc_top"></div>
  </div>
  <div class="sbzc">
    <form>
      <input class="sbzc_text" type="text">
      <input class="sbzc_btn" type="button" value="免费查询能否注册">
    </form> 
    <div class="sbzc_txt">
      <p class="sbzc_p1">
        降低注册成本</br>
        经济便捷
      </p>
      <p class="sbzc_p2">选择梦高速商标注册服务</p>
      <p class="sbzc_p3">节省财力和人力</p>
    </div>
    <div class="sbzc_imgs_wrap">
      <ul class="sbzc_imgs">
        <li class="sbzc_img"><img src="@{@BaseConfigs.GetUrlCdn}cqbh/images/sbzc_04.jpg" alt=""></li>
        <li class="sbzc_img"><img src="@{@BaseConfigs.GetUrlCdn}cqbh/images/sbzc_04.jpg" alt=""></li>
        <li class="sbzc_img"><img src="@{@BaseConfigs.GetUrlCdn}cqbh/images/sbzc_04.jpg" alt=""></li>
        <li class="sbzc_img last"><img src="@{@BaseConfigs.GetUrlCdn}cqbh/images/sbzc_04.jpg" alt=""></li>
      </ul>
    </div>   
  </div>
  <div class="sbzc_b">
    <p class="sbzc_b_p1">对客户、我们从来都是全心全意</p>
    <p class="sbzc_b_p2">努力让客户放心满意 全心全意为客户服务</p>
    <div><img src="@{@BaseConfigs.GetUrlCdn}cqbh/images/sbzc_03.png" alt=""></div>
  </div>
 

 