<p class="title-right bg-info small">
    <a href="#/Finance/#">财务</a> > <a href="#/pgfw"><span>评估服务</span></a> >{{data.name}}</p>
<div class="container container-main">
    <div class="row small info-table">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <td class="bg-primary" colspan="2">
                        <b>订单信息</b>
                    </td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="text-right">
                        编号：
                    </td>
                    <td>
                        {{data.id}}
                    </td>
                </tr>
                <tr>
                    <td class="text-right">
                        姓名：
                    </td>
                    <td>
                        {{data.name}}
                    </td>
                </tr>
                <tr>
                    <td class="text-right">
                        手机：
                    </td>
                    <td>
                        {{data.phone}}
                    </td>
                </tr>
                <tr>
                    <td class="text-right">
                        QQ号码：
                    </td>
                    <td>
                        {{data.qq}}
                    </td>
                </tr>
                <tr>
                    <td class="text-right">
                        类型：
                    </td>
                    <td>
                        {{data.type}}
                    </td>
                </tr>
                <tr>
                    <td class="text-right">
                        时间：
                    </td>
                    <td>
                        {{data.date}}
                    </td>
                </tr>
                <tr>
                    <td class="text-right">
                        城市：
                    </td>
                    <td>
                        {{data.city}}
                    </td>
                </tr>
                <tr>
                    <td class="text-right">
                        状态：
                    </td>
                    <td>
                        {{data.state}}
                    </td>
                </tr>
                <tr>
                    <td class="text-right">
                        处理时间：
                    </td>
                    <td>
                        {{data.clsj}}
                    </td>
                </tr>
                <tr>
                    <td class="text-right">
                        处理人名称：
                    </td>
                    <td>
                        {{data.duname}}
                    </td>
                </tr>
            </tbody>
        </table>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <td class="bg-primary" colspan="2">
                        <b>修改信息</b>
                    </td>
                </tr>
            </thead>
            <tbody>
                <td class="text-right input-td">
                    状态：
                </td>
                <td>
                    <select class="form-control" ng-model="data.xxzt">
                        <option value="">请选择</option>
                        <option value="1">已查看</option>
                        <option value="2">已经对接</option>
                        <option value="255">删除</option>
                    </select>
                </td>
                </tr>
                <tr>
                    <td class="text-right">
                        进度备注：
                    </td>
                    <td>
                        <textarea rows="10" style="width: 650px" ng-model="data.remark"></textarea>
                    </td>
                </tr>
            </tbody>
        </table>
        <p class="opr-btns">
            <input class="btn btn-primary" type="button" ng-click="save()" value="保存">
            <a class="btn btn-default" href="#/pgfw">返回</a>
        </p>
    </div>
</div>
</div> 