@{
    ViewBag.Title = "订单信息填写 - 梦高速"; 
}
<!--主内容区 开始-->
<div class="content-zc clearfix">
     @ViewBag.projectid = projectid;
            @ViewBag.hbid = hbid;
            @ViewBag.money = money;
</div>
<!--主内容区 结束-->
@section scripts{
 
}
