/*2.0产权保护 首页*/
.cqbh_bannerWrap {
  position: relative;
  width: 100%;
  overflow: hidden;
  height: 350px;
}
.cqbh_banner {
  position: absolute;
  left: 50%;
  top: 0;
  margin-left: -960px;
}
.cqbh_logo {
  width: 370px;
  margin: -70px auto 45px;
}
.cqbh_logo p {
  margin-left: 90px;
  font-size: 16px;
}
.content {
  width: 1024px;
  margin: 0 auto;
}
.cqbh_search {
  width: 690px;
  margin: 0 auto 90px;
}
.cqbh_search input {
  width: 490px;
  height: 45px;
  padding: 0 0 0 10px;
  border: 1px solid #0d9947;
  border-radius: 5px;
}
.cqbh_search button {
  width: 180px;
  height: 47px;
  border: 0;
  border-radius: 5px;
  background-color: #3f9dcd;
  color: #fff;
  font-size: 12px;
}
.cqbh_function {
  position: relative;
  width: 687px;
  height: 298px;
  margin: 0 auto;
  background: url(../images/normal_pic.png)
}
.cqbh_function span {
  position: absolute;
  width: 140px;
  height: 120px;
  font-size: 26px;
  color: #fff;
  cursor: pointer;
}
.cqbh_function i {
  display: none;
  position: absolute;
  top: -55px;
  left: -33px;
  width: 174px;
  height: 152px;
  background: url(../images/yinying.png) no-repeat;
}
.cqbh_sbsq {
  top: 57px;
  left: 27px;
}
.cqbh_sbcs {
  top: 57px;
  left: 289px;
}
.cqbh_hgba {
  top: 57px;
  left: 552px;
}
.cqbh_zlsq {
  top: 131px;
  left: 159px;
}
.cqbh_bqsq {
  top: 131px;
  left: 422px;
}
.cqbh_gjsb {
  top: 207px;
  left: 27px;
}
.cqbh_hggs {
  top: 207px;
  left: 289px;
}
.cqbh_gdfw {
  top: 207px;
  left: 552px;
}
/*商标超市*/
/*通用头部*/
.sbcs {
  width: 100%;
  padding-bottom: 5px;
  border-bottom: 1px solid #ccc;
  margin-bottom: 50px;
}
.sbcs_head {
  width: 1190px;
  margin: 0 auto;
}
.index_logo {
  width: 240px;
  margin: 20px auto;
}
.sbcs_nav {
  width: 690px;
  height: 40px;
  padding: 0 250px;
  border-radius: 20px;
  color: #fff;
  background-color: #4bc1fc;
}
.sbcs_nav_item {
  float: left;
  border-radius: 20px;
  padding: 0 35px;
  line-height: 40px;
  font-size: 18px;
  cursor: pointer;
}
.sbcs_nav_item a {
  color: #fff;
}
.sbcs_nav_item-current {
  background-color: #3d9ccc;
}
.sbcs_logo {
  float: left;
}
.sbcs_search {
  float: right;
}
.sbcs_head_search {
  margin-top: 20px;
  margin-bottom: 20px;
}
.sbcs_search_input {
  float: left;
  width: 510px;
  height: 40px;
  padding: 0 10px;
  border: 0;
  border-radius: 3px;
  margin-right: 5px;
  background-color: #e1e1e1;
}
.sbcs_search_button {
  float: left;
  width: 85px;
  height: 40px;
  padding: 0;
  border: 0;
  border-radius: 3px;
  font-size: 18px;
  color: #fff;
  background-color: #4bc1fc;
  cursor: pointer;
}
.sbcs_search_hot {
  margin-top: 10px;
  font-size: 12px;
}
.sbcs_search_hot dt {
  float: left;
  color: #4bc1fc;
}
.sbcs_search_hot dd {
  float: left;
  padding: 0 3px;
  color: #999;
  cursor: pointer;
}
.sbcs_content {
  width: 1190px;
  margin: 0 auto;
}
.sbcs_index {
  width: 1150px;
  margin: 0 auto;
}
.sbcs_index_head {
  padding: 0 15px;
  border: 1px solid #ccc;
  margin-bottom: 25px;
}
.sbcs_index_head_middle,
.sbcs_index_head_left,
.sbcs_index_head_right {
  float: left;
}
.sbcs_index_head_left,
.sbcs_index_head_right {
  position: relative;
  width: 180px;
  margin-top: 25px;
  text-align: center;
}
.sbcs_index_head_middle {
  margin-left: 25px;
  margin-right: 20px;
}
.sbcs_index_btn {
  width: 160px;
  height: 25px;
  border: 0;
  border-radius: 3px;
  font-size: 14px;
  background-color: #00a08e;
  color: #fff;
  cursor: pointer;
}
.rgno_icon {
  position: absolute;
  top: 47px;
  left: 16px;
  width: 17px;
  height: 18px;
  background: url(../images/icon_edi.png) no-repeat;
}
.tel_icon {
  position: absolute;
  top: 95px;
  left: 16px;
  width: 17px;
  height: 21px;
  background: url(../images/icon_edi.png) no-repeat 0 -28px;
}
.sbcs_index_head_ttl {
  color: #00c3ac;
  font-size: 14px;
}
.sbcs_index_head_ttl i {
  display: inline-block;
  width: 50px;
  margin: 0 3px 3px;
  border-top: 2px solid #00c3ac;
}
.sbcs_index_head_ttl span {
  padding: 0 5px;
}
.sbcs_index_rgno,
.sbcs_index_tel {
  width: 125px;
  height: 30px;
  padding-left: 35px;
  border: 1px solid #00c3ac;
}
.sbcs_index_rgno {
  margin-top: 20px;
}
.sbcs_index_tel {
  margin: 15px 0;
}
.index_search {
  position: relative;
  width: 710px;
  margin-top: 10px;
  font-size: 16px;
}
.index_search_input {
  width: 480px;
  height: 45px;
  padding: 0 85px 0 35px;
  border: 0;
  background-color: #e1e1e1;
  line-height: 45px;
}
.index_search_button {
  height: 45px;
  width: 100px;
  border: 0;
  color: #fff;
  background-color: #3d9ccc;
  cursor: pointer;
  font-size: 16px;
}
.index_search_icon {
  position: absolute;
  top: 15px;
  left: 11px;
  width: 19px;
  height: 19px;
  background: url(../images/icon_edi.png) no-repeat 0 -59px;
}
.index_search_span {
  position: absolute;
  top: 0;
  left: 535px;
  width: 70px;
  height: 45px;
  line-height: 45px;
  color: #999;
}
.index_search_type {
  display: none;
  position: absolute;
  left: -535px;
  top: 45px;
  width: 683px;
  padding: 10px;
  border: 1px solid #3d9ccc;
  text-align: center;
  background-color: #fff;
  border-top: 0;
}
.index_search_type dd,
.index_search_type dt {
  float: left;
  width: 71px;
  height: 40px;
  font-size: 15px;
  line-height: 40px;
  cursor: pointer;
  transition: .5s;
}
.index_search_type dd:hover,
.index_search_type dt:hover {
  color: #fff;
  background-color: #3d9ccc;
}
.index_search_hot {
  margin-top: 15px;
  margin-left: 50px;
  margin-bottom: 25px;
  font-size: 12px;
}
.index_search_hot dt {
  float: left;
  color: #4bc1fc;
}
.index_search_hot dd {
  float: left;
  padding: 0 3px;
  color: #999;
  cursor: pointer;
}
.sbcs_filterbox {
  padding-left: 20px;
  margin-bottom: 20px;
}
.sbcs_filterbox_items {
  margin-bottom: 5px;
  line-height: 30px;
}
.sbcs_filterbox_items dt {
  float: left;
  width: 70px;
  border-radius: 3px;
  margin-right: 20px;
  text-align: right;
  font-size: 14px;
}
.sbcs_filterbox_items dd {
  float: left;
  padding: 0 10px;
  border-radius: 3px;
  margin-right: 3px;
  text-align: center;
  font-size: 12px;
  cursor: pointer;
  transition: all 0.5s;
}
.sbcs_filterbox_current,
.sbcs_filterbox_items dd:hover {
  color: #fff;
  background-color: #3d9ccc;
}
.index_content {
  border: 1px solid #ccc;
}
.index_type {
  float: left;
  position: relative;
  width: 180px;
  height: 660px;
  margin-right: 80px;
  background-color: #60caff;
}
.index_type_ttl {
  widows: 180px;
  height: 60px;
  color: #fff;
  background-color: #4990bf;
  font-size: 24px;
  text-align: center;
  line-height: 60px;
}
.index_type_wrap {
  position: relative;
  width: 180px;
  height: 540px;
  margin: 0 auto;
  overflow: hidden;
  z-index: 9;
}
.index_type_show {
  position: absolute;
  top: 0;
  left: 0;
  width: 180px;
  height: 8100px;
  z-index: 10;
}
.current_icon {
  position: absolute;
  top: 115px;
  left: 155px;
  width: 57px;
  height: 58px;
  background: url(../images/icon_edi.png) no-repeat 0 -86px;
  z-index: 10;
}
.moreType {
  display: inline-block;
  width: 180px;
  height: 60px;
  background-color: #4486b3;
  color: #fff;
  line-height: 60px;
  font-size: 16px;
  text-align: center;
}
.index_type_show_item {
  width: 180px;
  height: 160px;
  padding-top: 20px;
  text-align: center;
  cursor: pointer;
  background-color: #5cb6f2;
}
.index_type_show_item-current {
  background-color: #52a3d9;
}
.index_type_show_item p {
  margin-top: 10px;
  color: #fff;
  font-size: 12px;
  white-space: nowrap;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
.index_type_show_item span {
  display: inline-block;
  width: 95px;
  margin-bottom: -8px;
  border-top: 2px solid #fff;
}
.index_type_show_item-current span{
  border: 0;
}
.index_trademark {
  float: left;
}
.index_slider {
  position: absolute;
  top: 0;
  left: 0;
  width: 1965px;
  min-width: 655px;
  max-width: 2620px;
}
.index_slider_wrap {
  position: relative;
  width: 655px;
  height: 265px;
  overflow: hidden;
}
.index_slider_item {
  float: left;
  width: 655px;
}
.index_trademark_show {
  margin-right: -17px;
}
.index_trademark_show_item {
  position: relative;
  float: left;
  height: 115px;
  border: 1px solid #ccc;
  margin: 0 17px 15px 0;
}
.index_trademark_show_item img {
  width: 148px;
  height: 115px;
}
.index_trademark_ttl {
  margin: 35px 0 60px;
  font-size: 24px;
  text-align: center;
}
.index_trademark_mask {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #999;
  font-size: 14px;
  line-height: 20px;
  color: #fff;
  text-align: center;
}
.index_trademark_mask_pri {
  position: absolute;
  left: 20px;
  top: 40px;
  width: 100px;
  border-bottom: 1px solid #fff;
}
.index_trademark_mask_ttl {
  position: absolute;
  left: 20px;
  bottom: 30px;
  width: 100px;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.index_advertise {
  float: left;
  width: 192px;
  margin-left: 30px;
  margin-top: 15px;
}
.index_advertise img {
  margin-bottom: 40px;
}
.slide_little {
  margin: 20px auto 20px;
  text-align: center;
}
.slide_little i {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin: 0 15px;
  background: url(../images/003.png) no-repeat 0 -166px;
  cursor: pointer;
}
.slide_little .slide_little-current {
  background: url(../images/003.png) no-repeat 0 -151px;
}
.index_trademark_text {
  width: 540px;
  margin: 0 auto;
  padding: 35px 40px;
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
  margin-bottom: 35px;
  text-align: center;
}
.index_trademark_text span {
  padding: 0 8px;
  font-size: 14px;
  line-height: 25px;
}
.sbcs_advantage {
  margin-top: 35px;
  margin-bottom: 75px;
}
.sbcs_advantage_item {
  float: left;
  width: 287px;
  text-align: center;
}
.sbcs_advantage_item h2 {
  margin-top: 30px;
  font-size: 18px;
}
.sbcs_advantage_item p {
  font-size: 14px;
}
.friendlyLink {
  text-align: center;
}
.friendlyLink a {
  padding: 0 8px;
  color: #333;
  font-size: 14px;
}

/*
  2016.3.15
  严国城
*/
body {
  background-color: #fafafa;
}
.sbcs_type {
  padding-left: 20px;
  margin-bottom: 20px;
}
.sbcs_type_ttl {
  font-size: 24px;
  margin-bottom: 20px;
}
.sbcs_type_cont {
  display: none;
  position: absolute;
  left: 0;
  top: 55px;
  width: 1150px;
  padding: 0;
  background-color: #e6e6e6;
}
.sbcs_type_cont_item {
  float: left;
  width: 125px;
  border-radius: 5px;
  margin: 0 2px 10px 0;
  color: #666;
  font-size: 14px;
  text-align: center;
  line-height: 20px;
  cursor: pointer;
}
.sbcs_type_cont_item:hover {
  color: #fff;
  background-color: #3d9ccc;
  transition: 0.5s;
}
.sbcs_type_cont_item-current {
  color: #fff;
  background-color: #3d9ccc;
}
.liaobiao_cont_l {
  float: left;
  width: 972px;
}
.liebiao_rank {
  width: 915px;
  height: 50px;
  padding: 0 10px 0 45px;
  border: solid thin #cccccc;
  margin-bottom: 3px;
  color: #333333;
  font-size: 14px;
  background: #fff;
}
.rank {
  float: left;
  line-height: 45px;
}
.rank_item {
  width: 70px;
  text-align: center;
}
.rank_item_pop,
.rank_item_price {
  position: relative;
  width: 60px;
  padding-left: 10px;
}
.rank_item,
.rank_item_pop,
.rank_item_price {
  float: left;
  height: 30px;
  border: solid thin #cccccc;
  margin: 7px 11px 11px 0;
  color: #333333;
  line-height: 30px;
  display: block;
}
.selected {
  color: #fff;
  background-color: #3d9ccc;
  border: solid thin #3d9ccc;
}

.rank_item_pop i,
.rank_item_price i {
  position: absolute;
  top: 8px;
  left: 47px;
  width: 11px;
  height: 15px;
  display: block;
  background-image: url(../images/jiantou1.png)
}
.selected i{
  background-image: url(../images/jiantou.png)
}
.rank_pages {
  float: right;
  line-height: 45px;
  display: block;
}
.rank_current {
  color: #ea0606;
}
.items {
  margin-right: -10px;
}
.item img{
  width: 235px;
  height: 175px;
}
.item {
  float: left;
  width: 235px;
  height: 284px;
  margin-right: 10px;
  margin-top: 10px;
  background-color: #fff;
}
.item img,
.item_last img,
.recommend_item  img{
  cursor:pointer;
}
.item_detail {
  padding: 0 10px 10px;
  font-size: 12px;
}
.price {
  margin-bottom: 10px;
  color: #bc0000;
  font-size: 17px;
  font-weight: bold;
  display: block;
}
.sign {
  font-size: 12px;
}
.first_sort {
  color: #666666;
  line-height: 20px;
  display: block;
}
.second_sort {
  color: #a8a8a8;
  line-height: 20px;
}
.liebiao_recommend {
  float: right;
  width: 206px;
  height: 1410px;
  padding-left: 2px;
  border: solid #3a9ccc;
  border-width: 2px 0 0 0;
}
.liebiao_recommend img {
  width: 208px;
  height: 300px;
}
.recommend_title {
  margin: 15px 0 35px;
  font-size: 15px;
  color: #3a9ccc;
  display: block;
}
.recommend_item {
  margin-top: 15px;
  height: 325px;
}
.recommend_price {
  color: #bc0000;
  font-size: 12px;
  font-weight: bold;
}
/*商标超市——详情页*/
/*李雅丽*/

/*左侧内容*/
.sbcs_contl {
  float: left;
  width: 198px;
  border: 1px solid #ccc;
}
.sbcs_contl h2 {
  margin: 8px 10px;
  font-size: 14px;
  color: #333;
}
.sbcs_contl_find {
  width: 118px;
  height: 20px;
  line-height: 20px;
  margin: 0 2px 0 22px;
  padding-left: 10px;
  font-size: 12px;
  color: #d8d8d8;
  border: 1px solid #ccc;
}
.sbcs_contl_findbtn {
  width: 30px;
  height: 23px;
  padding: 0;
  cursor: pointer;
  font-size: 12px;
  color: #fff;
  border: 0;
  border-radius: 2px;
  background-color: #3d9ccc;
}
.sbcs_contl_sort {
  margin: 10px 15px 30px;
  font-size: 12px;
  color: #666;
}
.sbcs_contl_sort dd {
  position: relative;
  margin-top: 10px;
}
.sbcs_contl_sort-add {
  float: left;
  display: block;
  width: 8px;
  height: 8px;
  line-height: 8px;
  margin-top: 3px;
  margin-right: 10px;
  cursor: pointer;
  font-size: 10px;
  color: #ccc;
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
}
.sbcs_contl_sort_type {
  display: none;
  margin-left: 20px;
  margin-top: 3px;
}

/*右侧内容*/
.sbcs_cont_right {
  float: left;
  margin-left: 10px;
}
.sbcs_cont_right .shangbiao,
.sbcs_cont_right .liucheng_buzou,
.sbcs_cont_right .sb_detailt,
.sbcs_cont_right .sb_detailb {
  width: 970px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
}
.shangbiao_tl {
  float: left;
  margin: 20px 10px;
}
.shangbiao_tl .photo {
  width: 288px;
  height: 218px;
  border: 1px solid #ccc;
}
.shangbiao_tl .shoucang {
  float: left;
  height: 20px;
  margin-left: 10px; 
  padding-left: 25px;
  cursor: pointer;
  font-size: 11px;
  background: url('../images/shoucang_01.png') no-repeat;
}

.shangbiao_tl .jubao {
  float: right;
  height: 20px;
  line-height: 20px;
  margin-right: 5px;
  margin-top: -2px;
  padding-left: 25px;
  cursor: pointer;
  font-size: 10px;
  color: #3d9ccc;
  background: url('../images/jubao.png') no-repeat;
}
.shangbiao_tl .price {
  margin-top: 30px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  color: #333;
}
.shangbiao_tl .money {
  font-size: 25px;
  color: #ff6600;
}
.shangbiao_tl .jiaoyi {
  float: left;
  margin-top: 8px;
  margin-left: 60px;
   height: 25px;
  line-height: 25px;
  font-size: 14px;
  color: #666;
}
.shangbiao_tl .leixing {
  position: relative;
  display: block;
  float: right;
  width: 80px;
  height: 25px;
  line-height: 25px;
  cursor: pointer;
  font-size: 14px;
  text-align: center;
  border: 1px solid #ccc;
}
.shangbiao_tl .sjx {
  position: absolute;
  bottom: 0;
  right: 0;
  display: inline-block;
  border-width: 8px 8px 0 8px;
  border-style: solid;
  border-color: transparent red transparent transparent ;
}
.shangbiao_tr {
  float: left;
  margin-left: 40px;
}
.shangbiao_trt {
  height: 56px;
  line-height: 56px;
  border-bottom: 1px dashed #ccc;
}
.shangbiao_trt h2 {
  float: left;
  font-size: 18px;
  color: #000;
}
.shangbiao_trt .name {
  color: #4bc1fc;
}
.shangbiao_trt img {
  margin: 6px 35px;
}
.shangbiao_tr_detail {
  font-size: 14px;
  word-spacing: 2px;
  color: #333;
}
.shangbiao_tr_detail p {
  margin-bottom: 10px;
}
.shangbiao_tr_detail .buy {
  width: 140px;
  height: 32px;
  margin-top: 30px;
  cursor: pointer;
  color: #fff;
  background-color: #3d9ccc;
  border: 0;
  border-radius: 2px;
}
.shangbiao_b {
  margin: 18px 40px 15px 20px;
}

.shangbiao_b .jingshi {
  float: left;
  margin-top: 5px;
}
.shangbiao_b .text {
  float: left;
  width: 800px;
  line-height: 24px;
  margin-left: 20px;
  font-size: 14px;
}
.shangbiao_b .parto,
.shangbiao_b .partt span {
  color: #ff0000;
}
.shangbiao_b .partt {
  color: #333;
}

.liucheng h2 {
  height: 45px;
  line-height: 45px;
  padding-left: 20px;
  font-size: 20px;
  color: #fff;
  background-color: #3d9ccc;
  border: 1px solid #3d9ccc;
}
.liucheng_buzou {
  padding-top: 20px;
  border-top: 0;
}
.liucheng_buzou p {
  margin: 0 45px 25px 30px;
  font-size: 12px;
}
.liucheng_buzou span {
  float: left;
  font-size: 15px;
  color: #3d9ccc;
}
.sb_detailt h2 {
  float: left;
  width: 108px;
  height: 46px;
  line-height: 46px;
  margin: -1px 0 0 -1px;
  cursor: pointer;
  text-align: center;
  font-size: 18px;
  border-top: 2px solid #3d9ccc;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #fff;
}
.sb_detailt .pic {
  margin-top: 47px;
  padding:  10px 10px;
  border-top: 1px solid #ccc;
}
.sb_detailb h2 {
  height: 42px;
  line-height: 45px;
  margin-left: -1px;
  padding-left: 22px;
  font-size: 18px;
  color: #666;
  border-bottom: 2px solid #3d9ccc;
}
.sb_detailb_lis li {
  float: left;
  width: 186px;
  margin: 10px 3px;
  border: 1px solid #ccc; 
}
.sb_detailb_lis .det_pri {
  margin-left: 115px;
  font-size: 11px;
  color: #ff6600;
}
.sb_detailb_lis .det_til {
  margin-left: 12px;
  font-size: 14px;
  color: #333;
}
.sb_detailb_lis .det_cont {
  display: block;
  margin: 5px 10px;
  font-size: 12px;
  color: #666;
}

/*分类表*/
.fenlei_title {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  font-size: 14px;
  text-align: center;
  line-height: 40px;
}
.fenlei_cont_ul {
  width: 1110px;
}
.fenlei_cont {
  padding: 20px 40px;
}
.fenlei_items {
  float: left;
  width: 230px;
  padding: 15px;
  border: 1px solid #ccc;
  margin-right: 15px;
  margin-bottom: 20px;
  text-align: center;
}
.fenlei_items a {
  color: #333;
}
.fenlei_items img {
  width: 100px;
  height: 80px;
}
.fenlei_items_ttl {
  font-size: 16px;
  line-height: 30px;
}
.fenlei_items_cont {
  height: 51px;
  color: #999;
  font-size: 12px;
}
.fenlei_item_type {
  padding-right: 3px;
  border-right: 1px solid #999;
  margin-right: 3px;
  line-height: 17px;
}
.fenlei_item_type-last {
  border: 0;
}
.fenlei_advantage {
  margin-top: 65px;
  margin-bottom: 30px;
}
.fenlei_advantage_item {
  float: left;
  width: 112px;
  padding: 0 55px;
  text-align: center;
}
.fenlei_advantage_item img {
  margin-bottom: 50px;
}
.fenlei_advantage_item h2 {
  font-weight: bold;
  font-size: 16px;
  line-height: 25px;
}
.fenlei_advantage_item p {
  color: #999;
  font-size: 12px;
  line-height: 20px;
}

/*商标超市--精品*/
/*李雅丽*/
.sbcs_jingpin {
  width: 1150px;
  margin: 0 auto;
  border: 1px solid #ccc;
}
.sbcs_jingpin_list {
  margin: 20px 20px;
  border: 1px solid #ccc;
}
.sbcs_jingpin_listl {
  float: left;
  margin-top: 30px;
  margin-left: 35px;
}
.sbcs_jingpin_listl_img {
  width: 256px;
  height: 192px;
}
.sbcs_jingpin_listl_til {
  text-align: center;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
}
.sbcs_jingpin_listl_leibie {
  margin-top: 10px;
  margin-left: 20px;
  font-size: 12px;
}
.sbcs_jingpin_listl_leibie span {
  margin-right: 3px;
}
.sbcs_jingpin_listl_price {
  display: block;
  float: left;
  margin-top: 30px;
  font-size: 20px;
  font-weight: bold;
  color: #e34d4d;
}
.sbcs_jingpin_listl_detail {
  display: block;
  float: right;
  width: 80px;
  height: 35px;
  line-height: 35px;
  margin-top: 25px;
  margin-right: 13px;
  margin-bottom: 25px;
  cursor: pointer;
  text-align: center;
  font-size: 18px;
  color: #e34d4d;
  border: 1px solid #e34d4d;
}
.sbcs_jingpin_listr {
  float: left;
  margin-top: 25px;
  margin-left: 35px;
  cursor: pointer;
}
.jubao span {
  color: #666;
}
/*弹出层*/
.modal_bg {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.7;
  filter: Alpha(opacity = 70);
  -moz-opacity:0.5;
 -khtml-opacity: 0.5;
}
.modal_cont {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 500px;
  margin-left: -250px;
  margin-top: -85px;
  border: 1px solid #666;
  border-radius: 5px;
  background-color: #fff;
}
.modal_cont_t {
  position: relative;
  padding: 10px;
  
}
.modal_cont_t_close {
 position: absolute;
 right: 10px;
 top: 0;
 font-size: 20px;
 cursor: pointer;
}
.modal_cont_m {
  padding: 20px 10px;
  border-top: 1px solid #e8e8e8;
  border-bottom: 1px solid #e8e8e8;
  font-size: 16px;
}
.modal_cont_b {
  overflow: hidden;
  padding: 10px;
}
.modal_cont_b_conf {
  float: right;
  width: 90px;
  border: 0;
  margin-right: 10px;
  background-color: #3d9ccc;
  line-height: 36px;
  color: #fff;
  font-size: 1.6em;
  border-radius: 5px;
  cursor: pointer;
}
.modal_cont_b_cancel {
  float: right;
  width: 90px;
  border: 0;
  line-height: 36px;
  font-size: 1.6em;
  border-radius: 5px;
  cursor: pointer;
}
.modal_cont_reason label,
.modal_cont_detail label {
  display: inline-block;
  width: 100px;
  margin: 0 10px 15px 0;
  text-align: right;
  font-size: 14px;
}
.modal_cont_reason input {
  width: 290px;
  height: 30px;
  padding: 0 10px;
}
.modal_cont_detail textarea{
  width: 292px;
  height: 100px;
  padding: 10px;
}
.modal_cont_button {
  margin: 10px 0 15px;
  text-align: center;
}
.modal_cont_button_conf {
  padding: 5px 20px;
  border: 0;
  border-radius: 5px;
  background-color: #3d9ccc;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}
.modal_cont_detail label {
  vertical-align: top;
}
/*列表页面修改*/
.sbcs_type_all {
  width: 200px;
  padding-bottom: 25px;
}
.sbcs_type_text {
  position: relative;
  display: inline-block;
  height: 35px;
  padding-left: 10px;
  padding-right: 30px;
  border-radius: 5px;
  color: #fff;
  background-color: #3d9ccc;
  font-size: 17px;
  text-align: left;
  line-height: 35px;
  cursor: pointer;
}
.sbcs_type_text i {
  position: absolute;
  right: 10px;
  top: 15px;
  border-width: 7px 7px 0;
  border-style: solid;
  border-color: #fff transparent transparent;
  transition: all 0.5s;
}