@{
    Layout = Layout = "~/Views/Shared/_CompanyLayout.cshtml";
}
@{ string ap = Request.Url.AbsolutePath.ToLower();
   var CompanyTopInfo = DHW.Main.Controllers.CompanyHomeController.CompanyTopInfo(ViewBag.ddid, ViewBag.DUser.ID); 
}
@{
    var compay = CompanyTopInfo.compay;
    var trade = CompanyTopInfo.trade;
    ViewBag.Title = "公司动态" + compay;
    ViewBag.Keywords = compay + ",公司动态," + trade;
}
<div class="banner">
    <img src="@{@BaseConfigs.GetUrlCdn}usercenter/images/com_banner.png" alt="">
    <div class="banner_txt">
        <h3>
            @ViewBag.dttitle["maintitle"]</h3>
        <p>
            @ViewBag.dttitle["subtitle"]</p>
    </div>
</div>
<!--内容 开始-->
<div class="content gsdt clearfix">
    <div class="ban_btns">
        <a class="current emColorBG" data-index="1" href="#">公司动态</a> <a href="#" data-index="2">
            行业动态</a>
    </div>
    <!--公司动态-->
    <div class="comDt show">
        <ul class="gongsi main clearfix">
        </ul>
        <div class="pagination">
        </div>
    </div>
    <!--行业动态-->
    <div class="hyDt">
        <ul class="main hangye clearfix">
        </ul>
    </div>
</div>
<!--内容 结束-->
@section scripts{
    <script type="text/javascript">
    var ddid = @ViewBag.ddid;
    </script>
    <script type="text/html" id="dongtai">
      {{each data as dt}}
        <li>
        <a href="/Company/DTDetail/{{dt.ddid}}/{{dt.id}}" target="_blank">
          <img style="width:100%;" src="@{@BaseConfigs.GetImgPath}{{dt.frontpic}}_310x310.jpg" alt=""></a>
          <h3>{{dt.title}}</h3>
          <div class="txt">
            <p>{{dt.summary}}</p>
          </div>
          <div class="time">
            <i></i>
            <span>{{dt.date}}</span>
          </div>
        </li>
      {{/each}}    
    </script>
    <script src="@{@BaseConfigs.GetUrlCdn}scripts/template.js"></script>
    <script src="@{@BaseConfigs.GetUrlCdn}scripts/jquery.paging.min.js"></script>
    <script src="@{@BaseConfigs.GetUrlCdn}scripts/jquery.loaddata.js"></script>
    <script>
     $(function() {     
      var para = {
          pageIndex: 1,
          pageSize: 4,
          type : 1,
          ddid : ddid,
      };
      var dd =ddid;
    $(".ban_btns a").click(function() {
      $(this).addClass("current").siblings().removeClass("current");
      para.type = $(this).attr('data-index');
      var i = $(this).index();
      $(".gsdt").children("div").eq(i+1).addClass("show").siblings().removeClass("show");
      loadData("/CompanyHome/DTList", para, "dongtai", ".gongsi", false);


      loadData("/CompanyHome/DTList", para, "dongtai", ".hangye", false);

    })
    loadData("/CompanyHome/DTList", para, "dongtai", ".gongsi", false);
   })
    </script>
}
