@{
    Layout = Layout = "~/Views/Shared/_CompanyLayout.cshtml";
}
@{ string ap = Request.Url.AbsolutePath.ToLower();
   var CompanyTopInfo = DHW.Main.Controllers.CompanyHomeController.CompanyTopInfo(ViewBag.ddid, ViewBag.DUser.ID); 
}
@{
    var compay = CompanyTopInfo.compay;
    var trade = CompanyTopInfo.trade;
    ViewBag.Title = "公司招聘" + compay;
    ViewBag.Keywords = compay + ",公司招聘," + trade;
}
@*蔡铭艺 2016-01-12*@
<!--内容 开始-->
<div class="gsJob_wrap">
    <div class="gsJob">
        <div class="gsJob_left">
            <div class="gsJob_welfare">
                <div class="gsJob_head_box">
                    <span class="gsJob_span">招聘列表</span>
                </div>
                <table class="gsJob_welfare_table">
                    <tr>
                        <td>
<<<<<<< HEAD
                        @for (int i = 0; i < ViewBag.fuli.Rows.Count;i++ )
                        {
                            
                            <span class="gsJob_pic"></span>
                            <a href="#">五险一金</a>


                             <span class="gsJob_pic"></span>
                            <a href="#">周末双休</a> 
                            <span class="gsJob_pic"></span>
                            <a href="#">年终奖金</a> 
                            <span class="gsJob_pic"></span>
                            <a href="#">住房津贴</a> 
                            <span class="gsJob_pic"></span>
                            <a href="#">工作午餐</a>
                        }
=======
                            @for (int i = 0; i < ViewBag.fuli.Rows.Count; i++)
                            {
                                var fl = ViewBag.fuli.Rows[i];
                                var fls = fl["fuli"].ToString();

                                if (fls != "")
                                {
                                    var fls2 = fls.Split(',');
                                    foreach (var welfare in fls2)
                                    {
                                <span class="gsJob_pic"></span>
                                <a href="#">@welfare</a>
                                    }
                                }
                            }
>>>>>>> e7089fc972443279fd8dbaefdefb79b09c72d5c3
                        </td>
                    </tr>
                </table>
            </div>
            <div class="gsJob_list">
                <div class="gsJob_head_box">
                    <span class="gsJob_span">招聘列表</span>
                </div>
                <table class="gsJob_table">
                    <thead>
                        <th>
                            职业名称
                        </th>
                        <th>
                            薪资待遇
                        </th>
                        <th>
                            学历
                        </th>
                        <th>
                            工作区域
                        </th>
                        <th>
                            更新时间
                        </th>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="gsJob_right">
            <div class="gsJob_pj">
                <dl>
                    <dt class="gsJob_dt"><span class="gsJob_span">面试评价</span></dt>
                </dl>
                <div class="pagination">
                </div>
            </div>
        </div>
    </div>
</div>
<!--内容 结束-->
@section scripts{
    <script type="text/html" id="jobList">
    {{each data as job}}
       <tr>
            <td><a href="@{@BaseConfigs.GetUrlHr}jobs/detail/{{job.djiid}}" target="_blank">{{job.zpgw}}</a></td>
            <td>{{job.money}}</td>
            <td>{{job.xueli}}</td>
            <td>{{job.gzdd}}</td>
            <td>{{job.date}}</td>
        </tr>
    {{/each}}
    </script>
    <script type="textml" id="interview">
      {{each data as interview}}
      <dd class="gsJob_dd">
        <label class="gsJob_label">
          <img class="gsJob_userimg" src="@BaseConfigs.GetImgPath{{interview.logo}}">
          <span class="gsJob_name">{{interview.RealName}}</span >
                  <span class="gsJob_zw">面试职位:</span>
          <span class="gsJob_zw_name">{{interview.Position}}</span>
        </label>
        <p class="gsJob_pj_detail">
          {{interview.about}}
        </p>
        <span class="gsJob_sum" data-id="{{interview.JobID}}" data-userid="{{interview.UserID}}">有用(<span class="gsJob_sum_add">{{interview.youyong}}</span>)</span>
      </dd>
      {{/each}}
    </script>
    <script src="@{@BaseConfigs.GetUrlCdn}scripts/jquery-1.11.3.min.js"></script>
    <script src="@{@BaseConfigs.GetUrlCdn}scripts/template.js"></script>
    <script src="@{@BaseConfigs.GetUrlCdn}lib/jquery.cookie.js"></script>
    <script src="@{@BaseConfigs.GetUrlCdn}scripts/jquery.loaddata.js"></script>
    <script src="@{@BaseConfigs.GetUrlCdn}scripts/jquery.paging.min.js"></script>
    <script>
        var para = {
            companyid: @ViewBag.ddid,
            pageIndex: 1,
            pageSize: 10
        }
        loadData('/CompanyHome/ZhaopinList', para, 'jobList', ".gsJob_table tbody");
    </script>
    <script>

        // 面试评价列表数据
        var interviewpara = {
            companyid: 51,
            pageIndex: 1,
            pageSize: 8
        }
        loadData('/CompanyHome/PingjiaList', interviewpara, 'interview', '.gsJob_pj dl');

        $(".gsJob_pj").on("click", '.gsJob_sum', function () {
            var that = $(this);
            var jobid = that.attr("data-id");
            var userid = that.attr("data-userid")
            var cookieProp = "data-" + jobid + '-' + userid;

            if (!that.hasClass("cancel") && !$.cookie(cookieProp)) {
                var para = {
                    JobID: jobid
                }
                $.post(" /CompanyHome/YouyongAdd", para).success(function () {

                    var total = parseInt(that.find("span").html())
                    total = total + 1;
                    var round = total;
                    if (round >= 10000) {
                        round = round / 10000;
                        round = Math.floor(round);
                        round += "万";
                    }
                    that.addClass('cancel')
                    that.find("span").html(round);
                    $.cookie(cookieProp, "true");
                })
            }
            else if (that.hasClass("cancel") || $.cookie(cookieProp)) {
                alert("已支持");
                return false;
            }
        })
    </script>
}
