@{Layout = null;}
<div class="module module-cqbh">
    <img class="module-cqbh_lc" src="//cdn.dreamhiway.com/usercenter/images/cqbh_lc.png"
        alt="">
    <a class="module-cqbh_btn"  target="_blank" href="@BaseConfigs.GetUrlCqbh"></a>
    <img class="module-cqbh_b" src="//cdn.dreamhiway.com/usercenter/images/cqbh_b.png"
        alt="">
</div>
