@{Layout = null;}
<div class="module module-cysj">
    <div class="cysjTop clearfix">
        <div class="lt">
            <div class="slide">
                <ul class="slide-wrap">
                    <a href="#">
                        <li>
                            <img src="//cdn.dreamhiway.com/usercenter/images/index_srdz_bingdian.png"></li>
                    </a><a href="#">
                        <li>
                            <img src="//cdn.dreamhiway.com/usercenter/images/index_srdz_diandonghuadanche.png"></li>
                    </a><a href="#">
                        <li>
                            <img src="//cdn.dreamhiway.com/usercenter/images/index_srdz_shoufa.png"></li>
                    </a><a href="#">
                        <li>
                            <img src="//cdn.dreamhiway.com/usercenter/images/index_srdz_VIS.png"></li>
                    </a><a href="#">
                        <li>
                            <img src="//cdn.dreamhiway.com/usercenter/images/index_srdz_lw.png"></li>
                    </a>
                </ul>
                <div class="slider">
                    <ul class="clearfix">
                        <li class="current">
                            <img src="//cdn.dreamhiway.com/usercenter/images/index_srdz_bingdian.png"></li>
                        <li>
                            <img src="//cdn.dreamhiway.com/usercenter/images/index_srdz_diandonghuadanche.png"></li>
                        <li>
                            <img src="//cdn.dreamhiway.com/usercenter/images/index_srdz_shoufa.png"></li>
                        <li>
                            <img src="//cdn.dreamhiway.com/usercenter/images/index_srdz_VIS.png"></li>
                        <li class="last">
                            <img src="//cdn.dreamhiway.com/usercenter/images/index_srdz_lw.png"></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="rt">
            <h4 class="desinerTitle">
                推荐设计师</h4>
            <ul class="desinerItems">
                <li class="desinerItem">
                    <div class="desinerItem_img">
                        <a href="#">
                            <img src="//cdn.dreamhiway.com/usercenter/images/index_srdz_tx.png"></a></div>
                    <p class="desinerItem_name">
                        ONEONEDESIGN</p>
                    <p class="desinerItem_intro">
                        男/深圳/平面设计师</p>
                </li>
                <li class="desinerItem">
                    <div class="desinerItem_img">
                        <a href="#">
                            <img src="//cdn.dreamhiway.com/usercenter/images/index_srdz_tx2.png"></a></div>
                    <p class="desinerItem_name">
                        ONEONEDESIGN</p>
                    <p class="desinerItem_intro">
                        男/深圳/平面设计师</p>
                </li>
                <li class="desinerItem">
                    <div class="desinerItem_img">
                        <a href="#">
                            <img src="//cdn.dreamhiway.com/usercenter/images/index_srdz_tx3.png"></a></div>
                    <p class="desinerItem_name">
                        ONEONEDESIGN</p>
                    <p class="desinerItem_intro">
                        男/深圳/平面设计师</p>
                </li>
                <li class="desinerItem last">
                    <div class="desinerItem_img">
                        <a href="#">
                            <img src="//cdn.dreamhiway.com/usercenter/images/cysj_designer.png"></a></div>
                    <p class="desinerItem_name">
                        ONEONEDESIGN</p>
                    <p class="desinerItem_intro">
                        男/深圳/平面设计师</p>
                </li>
            </ul>
        </div>
    </div>
    <div class="cysjBottom clearfix">
        <div class="lt">
            <ul class="cysjCateItems clearfix">
                <li class="cysjCateItem">品牌设计</li>
                <li class="cysjCateItem">|</li>
                <li class="cysjCateItem">工业设计</li>
                <li class="cysjCateItem">|</li>
                <li class="cysjCateItem">平面设计</li>
                <li class="cysjCateItem">|</li>
                <li class="cysjCateItem">广告设计</li>
                <li class="cysjCateItem">|</li>
                <li class="cysjCateItem">室内设计</li>
            </ul>
            <div>
                <ul class="cysjItems clearfix">
                    <li class="cysjItem"><a href="#">
                        <img src="//cdn.dreamhiway.com/usercenter/images/index_srdz_pinpai_1.png"></a></li>
                    <li class="cysjItem"><a href="#">
                        <img src="//cdn.dreamhiway.com/usercenter/images/index_srdz_pinpai_2.png"></a></li>
                    <li class="cysjItem"><a href="#">
                        <img src="//cdn.dreamhiway.com/usercenter/images/index_srdz_pinpai_3.png"></a></li>
                    <li class="cysjItem"><a href="#">
                        <img src="//cdn.dreamhiway.com/usercenter/images/index_srdz_pinpai_4.png"></a></li>
                    <li class="cysjItem last"><a href="#">
                        <img src="//cdn.dreamhiway.com/usercenter/images/index_srdz_pinpai_5.png"></a></li>
                </ul>
                <ul class="cysjItems clearfix">
                    <li class="cysjItem"><a href="#">
                        <img src="//cdn.dreamhiway.com/usercenter/images/index_srdz_gongshe_1.png"></a></li>
                    <li class="cysjItem"><a href="#">
                        <img src="//cdn.dreamhiway.com/usercenter/images/index_srdz_gongshe_2.png"></a></li>
                    <li class="cysjItem"><a href="#">
                        <img src="//cdn.dreamhiway.com/usercenter/images/index_srdz_gongshe_3.png"></a></li>
                    <li class="cysjItem"><a href="#">
                        <img src="//cdn.dreamhiway.com/usercenter/images/index_srdz_gongshe_4.png"></a></li>
                    <li class="cysjItem last"><a href="#">
                        <img src="//cdn.dreamhiway.com/usercenter/images/index_srdz_gongshe_5.png"></a></li>
                </ul>
                <ul class="cysjItems clearfix">
                    <li class="cysjItem"><a href="#">
                        <img src="//cdn.dreamhiway.com/usercenter/images/index_srdz_pingmian_1.png"></a></li>
                    <li class="cysjItem"><a href="#">
                        <img src="//cdn.dreamhiway.com/usercenter/images/index_srdz_pingmian_2.png"></a></li>
                    <li class="cysjItem"><a href="#">
                        <img src="//cdn.dreamhiway.com/usercenter/images/index_srdz_pingmian_3.png"></a></li>
                    <li class="cysjItem"><a href="#">
                        <img src="//cdn.dreamhiway.com/usercenter/images/index_srdz_pingmian_4.png"></a></li>
                    <li class="cysjItem last"><a href="#">
                        <img src="//cdn.dreamhiway.com/usercenter/images/index_srdz_pingmian_5.png"></a></li>
                </ul>
                <ul class="cysjItems clearfix">
                    <li class="cysjItem"><a href="#">
                        <img src="//cdn.dreamhiway.com/usercenter/images/index_srdz_AD_1.png"></a></li>
                    <li class="cysjItem"><a href="#">
                        <img src="//cdn.dreamhiway.com/usercenter/images/index_srdz_AD_2.png"></a></li>
                    <li class="cysjItem"><a href="#">
                        <img src="//cdn.dreamhiway.com/usercenter/images/index_srdz_AD_3.png"></a></li>
                    <li class="cysjItem"><a href="#">
                        <img src="//cdn.dreamhiway.com/usercenter/images/index_srdz_AD_4.png"></a></li>
                    <li class="cysjItem last"><a href="#">
                        <img src="//cdn.dreamhiway.com/usercenter/images/index_srdz_AD_5.png"></a></li>
                </ul>
                <ul class="cysjItems clearfix">
                    <li class="cysjItem"><a href="#">
                        <img src="//cdn.dreamhiway.com/usercenter/images/index_srdz_shinei_1.png"></a></li>
                    <li class="cysjItem"><a href="#">
                        <img src="//cdn.dreamhiway.com/usercenter/images/index_srdz_shinei_2.png"></a></li>
                    <li class="cysjItem"><a href="#">
                        <img src="//cdn.dreamhiway.com/usercenter/images/index_srdz_shinei_3.png"></a></li>
                    <li class="cysjItem"><a href="#">
                        <img src="//cdn.dreamhiway.com/usercenter/images/index_srdz_shinei_4.png"></a></li>
                    <li class="cysjItem last"><a href="#">
                        <img src="//cdn.dreamhiway.com/usercenter/images/index_srdz_shinei_5.png"></a></li>
                </ul>
            </div>
        </div>
        <div class="rt">
            <img src="//cdn.dreamhiway.com/usercenter/images/cysj_banner.png">
        </div>
    </div>
</div>
<script>
    $(".slide-wrap").slide(true, false);

    $(function () {
        if (window.PIE) {
            $('.desinerItem_img').each(function () {
                PIE.attach(this);
            });
        }
    });
    $(".cysjCateItem").on("click", function () {
        var index = $(this).index();
        if (index % 2 === 0) {
            index = index / 2;
        } else {
            index = (index - 1) / 2;
        }
        $(".cysjItems").each(function () {
            $(this).css("display", "none");
        }).eq(index).css("display", "block");
    })
</script>
