@{ Layout = null;}
<div class="module module-rczp">
    <div class="lt">
        <div class="rczp_TGB">
            <a href="@BaseConfigs.GetUrlHr" target="_blank" style="cursor:pointer">
                <img src="@{@BaseConfigs.GetUrlCdn}usercenter/images/rczp_bigAd.png"></a></div>
        <div class="rczp_TGSs clearfix">
            <div class="rczp_TGS first">
                <div class="rczp_TGS_img">
                    <img src="@{@BaseConfigs.GetUrlCdn}usercenter/images/sy_hr_chuanqikeji.png"></div>
                <ul class="rczp_TGS_list">
                    <li><a class="rczp_TGS_list_item" target="_blank" href="@{@BaseConfigs.GetUrlHr}jobs/detail/61">
                        网站营运经理，月薪3000月</a></li>
                    <li><a class="rczp_TGS_list_item" target="_blank" href="@{@BaseConfigs.GetUrlHr}jobs/detail/62">
                        网络编辑/文案，月薪3000月</a></li>
                    <li><a class="rczp_TGS_list_item" target="_blank" href="@{@BaseConfigs.GetUrlHr}jobs/detail/63">
                        市场业务员，月薪3000月</a></li>
                    <li><a class="rczp_TGS_list_item" target="_blank" href="@{@BaseConfigs.GetUrlHr}jobs/detail/64">
                        .net工程师，月薪4000月</a></li>
                    <li class="last"><a target="_blank" href="@{@BaseConfigs.GetUrlMain}Company/Zhaopin/120">
                        公司详情>></a></li>
                </ul>
            </div>
            <div class="rczp_TGS">
                <div class="rczp_TGS_img">
                    <img src="@{@BaseConfigs.GetUrlCdn}usercenter/images/sy_hr_dalian.png"></div>
                <ul class="rczp_TGS_list">
                    <li><a class="rczp_TGS_list_item" target="_blank" href="@{@BaseConfigs.GetUrlHr}jobs/detail/61">
                        诚招文员，月薪2k-5k月</a></li>
                    <li><a class="rczp_TGS_list_item" target="_blank" href="@{@BaseConfigs.GetUrlHr}jobs/detail/61">
                        网络编辑，月薪5k-10k月</a></li>
                    <li><a class="rczp_TGS_list_item" target="_blank" href="@{@BaseConfigs.GetUrlHr}jobs/detail/61">
                        电话销售业务销，月薪5k-10k月</a></li>
                    <li><a class="rczp_TGS_list_item" target="_blank" href="@{@BaseConfigs.GetUrlHr}jobs/detail/68">
                        手游客服，月薪5k-10k月</a></li>
                    <li class="last"><a target="_blank" href="@{@BaseConfigs.GetUrlMain}Company/Zhaopin/125">
                        公司详情>></a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="md">
        <h4 class="rczpHHTitle">
            最新招聘</h4>
        <ul class="rczpHHItems">
            <li class="rczpHHitem">
                <p class="rczpHHitem_p clearfix">
                    <span class="rczpHHitem_lt rczpHHitem_name"><a target="_blank" href="@{@BaseConfigs.GetUrlHr}jobs/detail/61">
                        网站营运经理</a></span> <span class="rczpHHitem_rt">石狮创企科技有限公司</span></p>
                <p class="rczpHHitem_p clearfix">
                    <span class="rczpHHitem_lt">[福建-泉州市]大专/不限</span> <span class="rczpHHitem_rt rczpHHitem_salary">
                        2000-5000</span></p>
            </li>
            <li class="rczpHHitem">
                <p class="rczpHHitem_p clearfix">
                    <span class="rczpHHitem_lt rczpHHitem_name"><a target="_blank" href="@{@BaseConfigs.GetUrlHr}jobs/detail/62">
                        网络编辑/文案</a></span> <span class="rczpHHitem_rt">石狮创企科技有限公司</span></p>
                <p class="rczpHHitem_p clearfix">
                    <span class="rczpHHitem_lt">[福建-泉州市]大专/不限</span> <span class="rczpHHitem_rt rczpHHitem_salary">
                        2000-5000</span></p>
            </li>
            <li class="rczpHHitem">
                <p class="rczpHHitem_p clearfix">
                    <span class="rczpHHitem_lt rczpHHitem_name"><a target="_blank" href="@{@BaseConfigs.GetUrlHr}jobs/detail/63">
                        市场业务员</a></span> <span class="rczpHHitem_rt">石狮创企科技有限公司</span></p>
                <p class="rczpHHitem_p clearfix">
                    <span class="rczpHHitem_lt">[福建-泉州市]大专/不限</span> <span class="rczpHHitem_rt rczpHHitem_salary">
                        2000-5000</span></p>
            </li>
            <li class="rczpHHitem">
                <p class="rczpHHitem_p clearfix">
                    <span class="rczpHHitem_lt rczpHHitem_name"><a target="_blank" href="@{@BaseConfigs.GetUrlHr}jobs/detail/64">
                        .net工程师</a></span> <span class="rczpHHitem_rt">石狮创企科技有限公司</span></p>
                <p class="rczpHHitem_p clearfix">
                    <span class="rczpHHitem_lt">[福建-泉州市]大专/不限</span> <span class="rczpHHitem_rt rczpHHitem_salary">
                        2000-5000</span></p>
            </li>
            <li class="rczpHHitem">
                <p class="rczpHHitem_p clearfix">
                    <span class="rczpHHitem_lt rczpHHitem_name"><a target="_blank" href="@{@BaseConfigs.GetUrlHr}jobs/detail/65">
                        诚招文员</a></span> <span class="rczpHHitem_rt">大连舜平网络科技有限公司</span></p>
                <p class="rczpHHitem_p clearfix">
                    <span class="rczpHHitem_lt">[辽宁-大连]大专/不限</span> <span class="rczpHHitem_rt rczpHHitem_salary">
                        2000-5000</span></p>
            </li>
            <li class="rczpHHitem">
                <p class="rczpHHitem_p clearfix">
                    <span class="rczpHHitem_lt rczpHHitem_name"><a target="_blank" href="@{@BaseConfigs.GetUrlHr}jobs/detail/66">
                        网络编辑</a></span> <span class="rczpHHitem_rt">大连舜平网络科技有限公司</span></p>
                <p class="rczpHHitem_p clearfix">
                    <span class="rczpHHitem_lt">[辽宁-大连]大专/不限</span> <span class="rczpHHitem_rt rczpHHitem_salary">
                        5000-10000</span></p>
            </li>
        </ul>
    </div>
    <div class="rt">
        <div class="hotLists">
            <ul class="hotLists_tabs clearfix">
                <li class="hotLists_tab hotLists_tab-active">热门职位</li>
                <li class="hotLists_tab">热门公司</li>
            </ul>
            <ul class="hotLists_items clearfix">
                <li class="hotLists_item hotLists_item-active">
                    <ul class="CompanyItems">
                        <li class="CompanyItem col"><a target="_blank" href="@{@BaseConfigs.GetUrlHr}jobs/detail/61">
                            <img src="@{@BaseConfigs.GetUrlCdn}usercenter/images/sr_hr_11.png"></a></li>
                        <li class="CompanyItem"><a target="_blank" href="@{@BaseConfigs.GetUrlHr}jobs/detail/66">
                            <img src="@{@BaseConfigs.GetUrlCdn}usercenter/images/sr_hr_2-2.png"></a></li>
                        <li class="CompanyItem noMargin"><a target="_blank" href="@{@BaseConfigs.GetUrlHr}jobs/detail/65">
                            <img src="@{@BaseConfigs.GetUrlCdn}usercenter/images/sr_hr_2-2.png"></a></li>
                        <li class="CompanyItem row"><a target="_blank" href="@{@BaseConfigs.GetUrlHr}jobs/detail/68">
                            <img src="@{@BaseConfigs.GetUrlCdn}usercenter/images/sr_hr_2-1.png"></a></li>
                        <li class="CompanyItem col"><a target="_blank" href="@{@BaseConfigs.GetUrlHr}jobs/detail/62">
                            <img src="@{@BaseConfigs.GetUrlCdn}usercenter/images/sr_hr_2.png"></a></li>
                        <li class="CompanyItem noMargin"><a target="_blank" href="@{@BaseConfigs.GetUrlHr}jobs/detail/64">
                            <img src="@{@BaseConfigs.GetUrlCdn}usercenter/images/sr_hr_1-1.png"></a></li>
                        <li class="CompanyItem"><a target="_blank" href="@{@BaseConfigs.GetUrlHr}jobs/detail/64">
                            <img src="@{@BaseConfigs.GetUrlCdn}usercenter/images/sr_hr_1-1.png"></a></li>
                        <li class="CompanyItem col noMargin"><a target="_blank" href="@{@BaseConfigs.GetUrlHr}jobs/detail/63">
                            <img src="@{@BaseConfigs.GetUrlCdn}usercenter/images/sr_hr_3.png"></a></li>
                    </ul>
                </li>
                <li class="hotLists_item">
                    <ul class="CompanyItems">
                        <li class="CompanyItem col"><a target="_blank" href="@{@BaseConfigs.GetUrlHr}jobs/detail/61">
                            <img src="@{@BaseConfigs.GetUrlCdn}usercenter/images/sr_hr_11.png"></a></li>
                        <li class="CompanyItem"><a target="_blank" href="@{@BaseConfigs.GetUrlHr}jobs/detail/66">
                            <img src="@{@BaseConfigs.GetUrlCdn}usercenter/images/sr_hr_1-1.png"></a></li>
                        <li class="CompanyItem noMargin"><a target="_blank" href="@{@BaseConfigs.GetUrlHr}jobs/detail/64">
                            <img src="@{@BaseConfigs.GetUrlCdn}usercenter/images/sr_hr_1-1.png"></a></li>
                        <li class="CompanyItem row"><a target="_blank" href="@{@BaseConfigs.GetUrlHr}jobs/detail/63">
                            <img src="@{@BaseConfigs.GetUrlCdn}usercenter/images/sr_hr_2-1.png"></a></li>
                        <li class="CompanyItem col"><a target="_blank" href="@{@BaseConfigs.GetUrlHr}jobs/detail/62">
                            <img src="@{@BaseConfigs.GetUrlCdn}usercenter/images/sr_hr_2.png"></a></li>
                        <li class="CompanyItem noMargin"><a target="_blank" href="@{@BaseConfigs.GetUrlHr}jobs/detail/64">
                            <img src="@{@BaseConfigs.GetUrlCdn}usercenter/images/sr_hr_2-2.png"></a></li>
                        <li class="CompanyItem"><a target="_blank" href="@{@BaseConfigs.GetUrlHr}jobs/detail/65">
                            <img src="@{@BaseConfigs.GetUrlCdn}usercenter/images/sr_hr_2-2.png"></a></li>
                        <li class="CompanyItem col noMargin"><a target="_blank" href="@{@BaseConfigs.GetUrlHr}jobs/detail/68">
                            <img src="@{@BaseConfigs.GetUrlCdn}usercenter/images/sr_hr_3.png"></a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div>
            <img src="@{@BaseConfigs.GetUrlCdn}usercenter/images/hot_tg.png"></div>
    </div>
</div>
<script>
    $(function () {
        if (window.PIE) {
            $('.module').each(function () {
                PIE.attach(this);
            });
        }
    });

    $(".hotLists_tab").click(function () {
        var indexs = $(this).index();
        $(".hotLists_tab").removeClass("hotLists_tab-active").eq(indexs).addClass("hotLists_tab-active");
        $(".hotLists_item").removeClass("hotLists_item-active").eq(indexs).addClass("hotLists_item-active");
    });
</script>
