@{Layout = null;}
<div class="module module-ssgs">
    <div class="lt">
        <h4 class="title title-investor">
            活跃投资人</h4>
        <ul class="investorItems clearfix">
            <li class="investorItem"><a href="#"><a href="#">
                <img src="@{@BaseConfigs.GetUrlCdn}usercenter/images/index_gsss_bf1.jpg"></a></a>
                <p class="investorItem_name">
                    <a href="#">包凡</a></p>
                <p class="investorItem_intro" title="华兴资本创始人与CEO">
                    华兴资本创始人与CEO</p>
            </li>
            <li class="investorItem"><a href="#">
                <img src="@{@BaseConfigs.GetUrlCdn}usercenter/images/index_gss_bd2.jpg"></a>
                <p class="investorItem_name">
                    <a href="#">彼得·林奇</a></p>
                <p class="investorItem_intro" title="富达基金托管人董事会成员之一">
                    富达基金托管人董事会成员之一</p>
            </li>
            <li class="investorItem"><a href="#">
                <img src="@{@BaseConfigs.GetUrlCdn}usercenter/images/index_gsss_xw3.jpg"></a>
                <p class="investorItem_name">
                    <a href="#">庞小伟</a></p>
                <p class="investorItem_intro" title="天使湾创投CEO">
                    天使湾创投CEO</p>
            </li>
            <li class="investorItem"><a href="#">
                <img src="@{@BaseConfigs.GetUrlCdn}usercenter/images/index_gsss_dh4.jpg"></a>
                <p class="investorItem_name">
                    <a href="#">童士豪</a></p>
                <p class="investorItem_intro" title="启明创投最新的主管合伙人">
                    启明创投最新的主管合伙人</p>
            </li>
            <li class="investorItem"><a href="#">
                <img src="@{@BaseConfigs.GetUrlCdn}usercenter/images/index_gsss_wgq5.jpg"></a>
                <p class="investorItem_name">
                    <a href="#">王功权</a></p>
                <p class="investorItem_intro" title="鼎晖创业投资基金合伙人及创始人">
                    鼎晖创业投资基金合伙人及创始人</p>
            </li>
            <li class="investorItem"><a href="#">
                <img src="@{@BaseConfigs.GetUrlCdn}usercenter/images/index_gsss_wyw6.jpg"></a>
                <p class="investorItem_name">
                    <a href="#">王亚伟</a></p>
                <p class="investorItem_intro" title="华夏基金管理公司副总经理副总裁">
                    华夏基金管理公司副总经理副总裁</p>
            </li>
            <li class="investorItem"><a href="#">
                <img src="@{@BaseConfigs.GetUrlCdn}usercenter/images/index_gsss_xx7.jpg"></a>
                <p class="investorItem_name">
                    <a href="#">徐新</a></p>
                <p class="investorItem_intro" title="中华英才网的初始投资者和董事会主席">
                    中华英才网的初始投资者和董事会主席</p>
            </li>
            <li class="investorItem"><a href="#">
                <img src="@{@BaseConfigs.GetUrlCdn}usercenter/images/index_gsss_yy8.jpg"></a>
                <p class="investorItem_name">
                    <a href="#">阎炎</a></p>
                <p class="investorItem_intro" title="软银亚洲投资基金首席合伙人、软银亚洲信息基础投资基金总裁">
                    软银亚洲投资基金首席合伙人、软银亚洲信息基础投资基金总裁</p>
            </li>
            <li class="investorItem"><a href="#">
                <img src="@{@BaseConfigs.GetUrlCdn}usercenter/images/index_gsss_yl9.jpg"></a>
                <p class="investorItem_name">
                    <a href="#">尤里·米尔纳</a></p>
                <p class="investorItem_intro" title="俄罗斯互联网投资公司DST Global CEO、数码天空公司CEO">
                    俄罗斯互联网投资公司DST Global CEO、数码天空公司CEO</p>
            </li>
            <li class="investorItem"><a href="#">
                <img src="@{@BaseConfigs.GetUrlCdn}usercenter/images/index_gsss_zdy10.jpg"></a>
                <p class="investorItem_name">
                    <a href="#">赵丹阳</a></p>
                <p class="investorItem_intro" title="国泰君安(香港)公司合伙人">
                    国泰君安(香港)公司合伙人</p>
            </li>
            <li class="investorItem"><a href="#">
                <img src="@{@BaseConfigs.GetUrlCdn}usercenter/images/index_gsss_zwh11.jpg"></a>
                <p class="investorItem_name">
                    <a href="#">郑伟鹤</a></p>
                <p class="investorItem_intro" title="同创伟业创业投资有限公司董事长">
                    同创伟业创业投资有限公司董事长</p>
            </li>
            <li class="investorItem"><a href="#">
                <img src="@{@BaseConfigs.GetUrlCdn}usercenter/images/index_gsss_zzx12.jpg"></a>
                <p class="investorItem_name">
                    <a href="#">周志雄</a></p>
                <p class="investorItem_intro" title="凯鹏华盈创业投资基金的执行合伙人">
                    凯鹏华盈创业投资基金的执行合伙人</p>
            </li>
        </ul>
        <div class="ssgsBanner">
            <a href="@{@BaseConfigs.GetUrlGsss}" target="_blank" style="cursor: pointer">
                <img src="@{@BaseConfigs.GetUrlCdn}usercenter/images/ssgs_banner.png">
            </a>
        </div>
    </div>
    <div class="rt">
        <h4 class="title title-agent">
            热门中介</h4>
        <ul class="agentItems clearfix">
            <li class="agentItem"><a href="#">
                <img src="@{@BaseConfigs.GetUrlCdn}usercenter/images/index_gsss_logo_1.png"></a></li>
            <li class="agentItem"><a href="#">
                <img src="@{@BaseConfigs.GetUrlCdn}usercenter/images/index_gsss_logo_2.png"></a></li>
            <li class="agentItem"><a href="#">
                <img src="@{@BaseConfigs.GetUrlCdn}usercenter/images/index_gsss_logo_3.png"></a></li>
            <li class="agentItem"><a href="#">
                <img src="@{@BaseConfigs.GetUrlCdn}usercenter/images/index_gsss_logo_4.png"></a></li>
            <li class="agentItem"><a href="#">
                <img src="@{@BaseConfigs.GetUrlCdn}usercenter/images/index_gsss_logo_5.png"></a></li>
            <li class="agentItem"><a href="#">
                <img src="@{@BaseConfigs.GetUrlCdn}usercenter/images/index_gsss_logo_6.png"></a></li>
            <li class="agentItem"><a href="#">
                <img src="@{@BaseConfigs.GetUrlCdn}usercenter/images/index_gsss_logo_7.png"></a></li>
            <li class="agentItem"><a href="#">
                <img src="@{@BaseConfigs.GetUrlCdn}usercenter/images/index_gsss_logo_8.png"></a></li>
            <li class="agentItem"><a href="#">
                <img src="@{@BaseConfigs.GetUrlCdn}usercenter/images/index_gsss_logo_9.png"></a></li>
            <li class="agentItem"><a href="#">
                <img src="@{@BaseConfigs.GetUrlCdn}usercenter/images/index_gsss_logo_10.png"></a></li>
        </ul>
    </div>
</div>
