@{Layout = null;}
<div class="module module-zchuang">
    <div class="lt">
        <h2 class="module-zchuang_ttl">
            优质众创空间</h2>
        <div class="module-zchuang_img_l zchuang-img">
            <a href="">
                <img src="@{@BaseConfigs.GetUrlCdn}usercenter/images/zckj_01.png" alt=""></a>
            <p>
                dasdsadsadsads</p>
        </div>
        <div class="module-zchuang_img_r_wrap">
            <ul class="module-zchuang_img_r">
                <li class="zchuang-img"><a href="">
                    <img src="@{@BaseConfigs.GetUrlCdn}usercenter/images/zckj_02.jpg" alt=""></a>
                    <p>
                        asdsadsada</p>
                </li>
                <li class="zchuang-img"><a href="">
                    <img src="@{@BaseConfigs.GetUrlCdn}usercenter/images/zckj_03.jpg" alt=""></a>
                    <p>
                        asdsadsada</p>
                </li>
                <li class="zchuang-img"><a href="">
                    <img src="@{@BaseConfigs.GetUrlCdn}usercenter/images/zckj_04.jpg" alt=""></a>
                    <p>
                        asdsadsada</p>
                </li>
                <li class="zchuang-img"><a href="">
                    <img src="@{@BaseConfigs.GetUrlCdn}usercenter/images/zckj_05.jpg" alt=""></a>
                    <p>
                        asdsadsada</p>
                </li>
            </ul>
        </div>
        <div class="slide_b">
            <div class="slide">
                <ul class="slide-wrap">
                    <li><a href="">
                        <img src="@{@BaseConfigs.GetUrlCdn}usercenter/images/index_ackj_01.png" alt=""></a></li>
                    <li><a href="">
                        <img src="@{@BaseConfigs.GetUrlCdn}usercenter/images/index_ackj_02.png" alt=""></a></li>
                    <li><a href="">
                        <img src="@{@BaseConfigs.GetUrlCdn}usercenter/images/index_ackj_03.png" alt=""></a></li>
                    <li><a href="">
                        <img src="@{@BaseConfigs.GetUrlCdn}usercenter/images/index_ackj_04.png" alt=""></a></li>
                    <li><a href="">
                        <img src="@{@BaseConfigs.GetUrlCdn}usercenter/images/index_ackj_05.png" alt=""></a></li>
                    <li><a href="">
                        <img src="@{@BaseConfigs.GetUrlCdn}usercenter/images/index_ackj_06.png" alt=""></a></li>
                    <li><a href="">
                        <img src="@{@BaseConfigs.GetUrlCdn}usercenter/images/index_ackj_07.png" alt=""></a></li>
                    <li><a href="">
                        <img src="@{@BaseConfigs.GetUrlCdn}usercenter/images/index_ackj_08.png" alt=""></a></li>
                    <li><a href="">
                        <img src="@{@BaseConfigs.GetUrlCdn}usercenter/images/index_ackj_01.png" alt=""></a></li>
                    <li><a href="">
                        <img src="@{@BaseConfigs.GetUrlCdn}usercenter/images/index_ackj_02.png" alt=""></a></li>
                    <li><a href="">
                        <img src="@{@BaseConfigs.GetUrlCdn}usercenter/images/index_ackj_03.png" alt=""></a></li>
                    <li><a href="">
                        <img src="@{@BaseConfigs.GetUrlCdn}usercenter/images/index_ackj_04.png" alt=""></a></li>
                    <li><a href="">
                        <img src="@{@BaseConfigs.GetUrlCdn}usercenter/images/index_ackj_05.png" alt=""></a></li>
                    <li><a href="">
                        <img src="@{@BaseConfigs.GetUrlCdn}usercenter/images/index_ackj_06.png" alt=""></a></li>
                </ul>
            </div>
            <a class="s-prev"></a><a class="s-next"></a>
        </div>
    </div>
    <div class="rt">
        <div class="module-zchuang_txt clearfix">
            <h3>
                服务介绍</h3>
            <p>
                梦高速众创空间是一家集合创业空间+创业服务为一体的综合服务平台，通过提供开放式办公空间、全方位创业增值服务及众创空间查询服务，打造最完善的创业者生态环境，梦高速众创空间围绕初创团队的早期痛点，在招聘、产权、营销、财务等方面为入驻团队提供创业一条龙式服务，助力早期创业团队快速发展，最终形成最具价值的创业者社区生态。
            </p>
        </div>
        <div class="module-zchuang_imgR">
            <a href="@BaseConfigs.GetUrlZckj" target="_blank" style="cursor: pointer">
                <img src="@{@BaseConfigs.GetUrlCdn}usercenter/images/zckj_r.png" alt="">
            </a>
        </div>
        <!-- <div class="module-zchuang_form">
            <input class="module-zchuang_form_btn" type="button" value="我要入驻">
            <ul class="module-zchuang_form_text">
                <li>
                    <label>
                        项目名称：</label>
                    <input type="text">
                    <span>*</span> </li>
                <li>
                    <label>
                        姓名：</label>
                    <input type="text">
                    <span>*</span> </li>
                <li>
                    <label>
                        手机号码：</label>
                    <input type="text">
                    <span>*</span> <a class="module-zchuang_form_text_yzm" href="#">获取验证码</a> </li>
                <li>
                    <label>
                        验证码：</label>
                    <input type="text">
                    <span>*</span> </li>
                <li>
                    <label>
                        邮箱：</label>
                    <input type="text">
                    <span>*</span> </li>
            </ul>
            <input class="module-zchuang_form_btn module-zchuang_form_btn_b" type="button" value="提交">
        </div>-->
    </div>
</div>
<script>
    $(".s-prev").click(function () {
        var _left = parseInt($(".slide-wrap").css("left"));
        if ($(".slide-wrap").is(":animated")) {
            return false;
        }
        if (_left >= 0) {
            $(".slide-wrap").animate({
                left: -770 + "px"
            })
        } else {
            $(".slide-wrap").animate({
                left: _left + 770 + "px"
            })
        }
    })
    $(".s-next").click(function () {
        var _left = parseInt($(".slide-wrap").css("left"));
        if ($(".slide-wrap").is(":animated")) {
            return false;
        }
        if (-_left >= 770) {
            $(".slide-wrap").animate({
                left: 0
            })
        } else {
            $(".slide-wrap").animate({
                left: _left - 770 + "px"
            })
        }
    })

    // 滑动显示字
    $(".zchuang-img").hover(function () {
        $(this).children("p").stop(true, false);
        var bottom = parseInt($(this).children("p").css("bottom"));
        $(this).children("p").animate({
            bottom: 0 + "px"
        })

    }, function () {
        $(this).children("p").stop(true, false);
        $(this).children("p").animate({
            bottom: -27 + "px"
        })
    })

  
</script>
