@{Layout = null;}
<div class="module module-zxsj">
  <div class="zxsj_main_wrap">
    <ul class="zxsj_main clearfix">
      <li>
        <div>
          <img class="zxsj_main_img" src="@{@BaseConfigs.GetUrlCdn}usercenter/images/zxsj_01.png" alt="">
          <img class="zxsj_main_logo" src="@{@BaseConfigs.GetUrlCdn}usercenter/images/zxsj_01logo.png" alt="">
        </div>
        <div class="zxsj_main_txt">
          <h2>连锁店类电商</h2>
          <p>针对品牌连锁企业，发展零售客户群体，结合移动端形式进行销售，提高消费者便捷购物体验，实现多样化销售形式，增加连锁门店粘性</p>
          <a href="#">查看详细 ></a>
        </div>
      </li>
      <li>
        <div>
          <img class="zxsj_main_img" src="@{@BaseConfigs.GetUrlCdn}usercenter/images/zxsj_01.png" alt="">
          <img class="zxsj_main_logo" src="@{@BaseConfigs.GetUrlCdn}usercenter/images/zxsj_01logo.png" alt="">
        </div>
        <div class="zxsj_main_txt">
          <h2>连锁店类电商</h2>
          <p>针对品牌连锁企业，发展零售客户群体，结合移动端形式进行销售，提高消费者便捷购物体验，实现多样化销售形式，增加连锁门店粘性</p>
          <a href="#">查看详细 ></a>
        </div>
      </li>
      <li>
        <div>
          <img class="zxsj_main_img" src="@{@BaseConfigs.GetUrlCdn}usercenter/images/zxsj_01.png" alt="">
          <img class="zxsj_main_logo" src="@{@BaseConfigs.GetUrlCdn}usercenter/images/zxsj_01logo.png" alt="">
        </div>
        <div class="zxsj_main_txt">
          <h2>连锁店类电商</h2>
          <p>针对品牌连锁企业，发展零售客户群体，结合移动端形式进行销售，提高消费者便捷购物体验，实现多样化销售形式，增加连锁门店粘性</p>
          <a href="#">查看详细 ></a>
        </div>
      </li>
      <li>
        <div>
          <img class="zxsj_main_img" src="@{@BaseConfigs.GetUrlCdn}usercenter/images/zxsj_02.png" alt="">
          <img class="zxsj_main_logo" src="@{@BaseConfigs.GetUrlCdn}usercenter/images/zxsj_01logo.png" alt="">
        </div>
        <div class="zxsj_main_txt">
          <h2>连锁店类电商</h2>
          <p>针对品牌连锁企业，发展零售客户群体，结合移动端形式进行销售，提高消费者便捷购物体验，实现多样化销售形式，增加连锁门店粘性</p>
          <a href="#">查看详细 ></a>
        </div>
      </li>
      <li>
        <div>
          <img class="zxsj_main_img" src="@{@BaseConfigs.GetUrlCdn}usercenter/images/zxsj_02.png" alt="">
          <img class="zxsj_main_logo" src="@{@BaseConfigs.GetUrlCdn}usercenter/images/zxsj_01logo.png" alt="">
        </div>
        <div class="zxsj_main_txt">
          <h2>连锁店类电商</h2>
          <p>针对品牌连锁企业，发展零售客户群体，结合移动端形式进行销售，提高消费者便捷购物体验，实现多样化销售形式，增加连锁门店粘性</p>
          <a href="#">查看详细 ></a>
        </div>
      </li>
      <li>
        <div>
          <img class="zxsj_main_img" src="@{@BaseConfigs.GetUrlCdn}usercenter/images/zxsj_02.png" alt="">
          <img class="zxsj_main_logo" src="@{@BaseConfigs.GetUrlCdn}usercenter/images/zxsj_01logo.png" alt="">
        </div>
        <div class="zxsj_main_txt">
          <h2>连锁店类电商</h2>
          <p>针对品牌连锁企业，发展零售客户群体，结合移动端形式进行销售，提高消费者便捷购物体验，实现多样化销售形式，增加连锁门店粘性</p>
          <a href="#">查看详细 ></a>
        </div>
      </li> 
      <li>
        <div>
          <img class="zxsj_main_img" src="@{@BaseConfigs.GetUrlCdn}usercenter/images/zxsj_03.png" alt="">
          <img class="zxsj_main_logo" src="@{@BaseConfigs.GetUrlCdn}usercenter/images/zxsj_01logo.png" alt="">
        </div>
        <div class="zxsj_main_txt">
          <h2>连锁店类电商</h2>
          <p>针对品牌连锁企业，发展零售客户群体，结合移动端形式进行销售，提高消费者便捷购物体验，实现多样化销售形式，增加连锁门店粘性</p>
          <a href="#">查看详细 ></a>
        </div>
      </li>
      <li>
        <div>
          <img class="zxsj_main_img" src="@{@BaseConfigs.GetUrlCdn}usercenter/images/zxsj_03.png" alt="">
          <img class="zxsj_main_logo" src="@{@BaseConfigs.GetUrlCdn}usercenter/images/zxsj_01logo.png" alt="">
        </div>
        <div class="zxsj_main_txt">
          <h2>连锁店类电商</h2>
          <p>针对品牌连锁企业，发展零售客户群体，结合移动端形式进行销售，提高消费者便捷购物体验，实现多样化销售形式，增加连锁门店粘性</p>
          <a href="#">查看详细 ></a>
        </div>
      </li>
      <li>
        <div>
          <img class="zxsj_main_img" src="@{@BaseConfigs.GetUrlCdn}usercenter/images/zxsj_03.png" alt="">
          <img class="zxsj_main_logo" src="@{@BaseConfigs.GetUrlCdn}usercenter/images/zxsj_01logo.png" alt="">
        </div>
        <div class="zxsj_main_txt">
          <h2>连锁店类电商</h2>
          <p>针对品牌连锁企业，发展零售客户群体，结合移动端形式进行销售，提高消费者便捷购物体验，实现多样化销售形式，增加连锁门店粘性</p>
          <a href="#">查看详细 ></a>
        </div>
      </li>
    </ul>
  </div>
  <div class="zxsj_choose_wrap">
    <ul class="zxsj_choose">
      <li class="current"><i></i></li>
      <li><i></i></li>
      <li class="last"><i></i></li>
    </ul>
  </div>
  <div class="zxsj_btn">
    <a href=""></a>
  </div>
</div>
<script>
    $(".zxsj_main li").hover(function () {
        $(this).addClass("hover");
        $(this).find(".zxsj_main_logo").show();
    }, function () {
        $(this).removeClass("hover");
        $(this).find(".zxsj_main_logo").hide();
    })

    $(".zxsj_choose li").click(function () {
        var i = $(this).index();

        $(this).addClass("current").siblings().removeClass("current");

        switch (i) {
            case 0:
                $(".zxsj_main").animate({ left: '0px' });
                break;
            case 1:
                $(".zxsj_main").animate({ left: '-996px' });
                break;
            case 2:
                $(".zxsj_main").animate({ left: '-1992px' });
                break;
        }

    })
  
</script>