/*
*重置
*/
body,
p, blockquote,
h1, h2, h3, h4, h5, h6,
ul, ol, li, dl, dd {
  margin: 0;
  padding: 0;
}
ul, ol, dl {
  list-style: none;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}
a {
  text-decoration: none;
}
a img {
  border: 0;
}
input, button, textarea {
  outline: none;
}
textarea {
  resize: none
}
/*
*全局字体样式
*/
* {
  font-family: "Microsoft Yahei", "simsun", sans-serif;
}
body {
  font-size: 10px;
  color: #333;
}
/*
*清除浮动
*/
.clearfix:before,
.clearfix:after {  
  content: "";  
  display: table;  
}  
.clearfix:after {  
  clear: both;  
  overflow: hidden;  
}  
.clearfix {  
  *zoom: 1;  
}
/*
* placeholder
*/
.placeholder {
  color: #aaa;
}

/*
*全站宽度
*/
.sitenav-wrap,
.footer-wrap {
  width: 1150px;
  margin: 0 auto;
}
.header-main,
.header-nav-wrap,
.content {
  width: 1024px;
  margin: 0 auto;
}

/*
*全站顶栏
*/
.sitenav {
  font-size: 1.2em;
  line-height: 30px;
  background: url(../images/sitenav_bg.gif) repeat-x;
}
.sitenav,
.sitenav a {
  font-family: "simsun", serif;
  color: #a5a5a5;
}
.sitenav a:hover {
  color: #666;
}
.sitenav-l {
  float: left;
}
.sitenav-r {
  float: right;
}
.sitenav li {
  float: left;
  font-family: "simsun", serif;
}
.sitenav-l li {
  margin-right: 20px;
}
.sitenav-r a {
  padding: 0 10px;
  border-left: 1px solid #ccc;
}
.sitenav-r .log a {
  padding: 0;
  border: 0;
  margin-right: 10px;
}
.sitenav-r .icon-drop {
  margin-left: 2px;
}
/*弹出*/
.nav-drop,
.icon-drop,
.sn-dropper {
  position: relative;
}
.nav-drop a {
  border-right: 1px solid #ccc;
}
.icon-drop i {
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
}
.nav-drop {
  width: 92px;
  height: 30px;
}
.icon-drop {
  width: 28px;
  height: 30px;
}
.sn-dropper.iconfont {
  padding: 0 5px;
}
.sn-dropdown {
  display: none;
  position: absolute;
  right: 0;
  top: 31px;
  z-index: 100;
  padding: 5px;
  border: 1px solid #ccc;
  background-color: #fff;
  text-align: center;
  line-height: 1.4em;
  overflow: hidden;
}
.icon-drop .sn-dropdown {
  color: #666;
}
.menu-dropdown {
  width: 160px;
}
.menu-dropdown li {
  float: left;
  width: 70px;
  padding: 5px;
  text-align: center;
  line-height: 1.8em;
}
.menu-dropdown a {
  border: 0;
}

/*
*全站底栏
*/
.footer {
  margin-top: 30px;
  background-color: #333;
  overflow: hidden;
  color: #999;
}
.footer a {
  color: #999;
}
.footer a:hover {
  color: #ddd;
}
.footer-wrap {
  padding: 26px 5px 30px;
}
/*左侧*/
.footer-l {
  float: left;
  font-size: 1.2em;
}
.footer-l .logo {
  width: 348px;
  height: 48px;
  /*background: url(../images/zhaopin_logo_bottom.jpg) no-repeat;*/
  margin-bottom: 26px;
}
.footer-l .tel {
  font-weight: 700;
  font-size: 3em;
}
.footer-l .contact li {
  float: left;
  position: relative;
  padding: 9px;
  border: 1px solid #444; 
  border-right: 0;
}
.footer-l .contact li.last {
  border-right: 1px solid #444; 
}
/*微信弹出*/
.footer-l .wechat,
.footer-l .weibo {
  display: none;
  position: absolute;
  top: -128px;
  left: 50%;
  z-index: 101;
  margin-left: -54px;
}
.footer-l .wechat span,
.footer-l .weibo span {
  display: block;
  padding: 10px;
  background-color: #fff;
}
.footer-l .wechat p,
.footer-l .weibo p {
  position: absolute;
  left: 50%;
  width: 0;
  border-width: 6px 6px 0;
  border-color: #fff transparent transparent;
  border-style: solid;
  margin: 0;
  margin-left: -6px;
}
.footer-l p {
  margin: 20px 0 26px;
  line-height: 1.6;
}
.footer-l .icp {
  width: 159px;
  height: 57px;
  background: url(../images/icp.png) no-repeat;
  float: left;
  margin-right: 20px;
}
.footer-l .icp_one {
  background-position: 0px -60px;
}
.footer-l .icp_two {
  background-position: 0px  -180px;
}
/*右侧*/
.footer-r {
  float: right;
}
.footer-r dl {
  float: left;
  margin-right: 75px;
  font-size: 1.4em;
}
.footer-r dl.last {
  margin-right: 0;
}
.footer dt,
.footer dd {
  padding: 16px 0;
}
.footer-r dt {
  color: #fff;
}

/*
*头部
*/
.header-main {
  padding-top: 20px;
}
/*左侧*/
.header-m-l {
  float: left;
}
/*右侧*/
.header-m-r {
 float: right; 
}
.header-search input,
.header-search button {
  float: left;
  font-size: 1.6em;
}
.header-search input {
  height: 16px;
  padding: 10px 30px;
  border-width: 2px;
  border-style: solid;
}
.header-search button {
  padding: 0;
  border: 0;
  line-height: 40px;
  color: #fff;
  cursor: pointer;
}
/*热门搜索*/
.header-hot-search dl {
  height: 47px;
  line-height: 47px;
  font-size: 1.4em;
  color: #444;
}
.header-hot-search a {
  color: #444;
}
.header-hot-search a:hover {
  text-decoration: underline;
}
.header-hot-search dt,
.header-hot-search dd {
  float: left;
  margin-right: 8px;
}
/*导航条*/
.header-nav-wrap {
  position: relative;
}
.header-nav li {
  float: left;
  position: relative;
  margin-right: 10px;
}
.header-nav a {
  display: block;
  text-align: center;
}
/*最后一个按钮*/
.header-nav li.last {
  position: absolute;
}

/*
*主内容区
*/
.content a:hover {
  text-decoration: underline;
}

/*
*翻页模块
*/
.pagination {
  margin-top: 24px;
  margin-bottom: 100px;
  font-size: 1.4em;
  text-align: center;
}
.pagination span,
.pagination a {
  display: inline-block;
  padding: 0 7px;
  border: 1px solid #e7e7e7;
  margin-right: 4px;
  background-color: #fff;
  font-style: normal;
  line-height: 24px;
  color: #333;
}
.pagination .last {
  margin-right: 0;
}
.pagination .current,
.pagination a:hover {
  color: #fff;
  text-decoration: none;
}
.pagination span.disabled {
  color: #aaa;
}

/*
*图片轮播模块
*/
.slide-bg {
  position: relative;
}
.slide {
  position: relative;
  overflow: hidden;
}
.slide-wrap {
  position: absolute;
  top: 0;
  left: 0;
}
.slide-wrap li {
  overflow: hidden;
}
.s-prev,
.s-next {
  display: block;
  position: absolute;
}
.slider {
  position: absolute;
}

/*文字遮罩层模块*/
.mask li {
  position: relative;
  float: left;
  width: 112px;
  height: 112px;
  margin-right: 17px;
  overflow: hidden;
}
.mask li.last {
  margin-right: 0;
}
.mask div {
  position: absolute;
  width: 98px;
  height: 98px;
  padding: 7px;
  background-color: #3d9ccc;
  opacity: 0.9;
  color: #fff;
  transition: all 300ms ease;
}
.mask div h5 {
  width: 100%;
  border-bottom: 5px solid #57b8e8;
  font-size: 2.2em;
  text-align: center;
  line-height: 1.6;
}
.mask div p {
  width: 100%;
  font-size: 1.2em;
}


/*去除火狐大红框*/
input,
textarea,
select {
  box-shadow: none;
}

/*angular*/
[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak,
.ng-hide {
  display:none !important;
}
ng\\:form {
  display:block;
}
.ng-animate-block-transitions {
  transition:0s all!important;-webkit-transition:0s all!important;
}