<!DOCTYPE html>
<!--
  卢铭怀
  2015.12.17
-->
<html lang="zh">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <title>梦高速 - 欢迎注册</title>
  <link rel="stylesheet" href="http://localhost:8070/styles/general.css">
  <link rel="stylesheet" href="styles/login.css">
  <script>
    var dhw = {};
  </script>
</head>

<body>
  <div class="content">
    <div class="logo clearfix">
      <div class="logo_img">
        <a href="#"><img src="images/dl_logo.jpg" alt="#"></a>
      </div>
      <h2 class="logo_text">账户注册</h2>
    </div>
    <div class="register" ng-app="regApp" ng-controller="regCtrl">
      <p class="register_text">我已经注册，现在就 <a href="#">登录</a></p>
      <ul class="reg_tabs clearfix">
        <li class="reg_tab" ng-class="{current:isPersonal}" ng-click="isPersonal=true">个人用户</li>
        <li class="reg_tab" ng-class="{current:!isPersonal}" ng-click="isPersonal=false">企业用户</li>
      </ul>
      <div class="reg_form reg_form-personal" ng-show="isPersonal" ng-cloak>
        <form name="registerP">
          <div class="formSet clearfix">
            <div class="formSetWrap">
              <label class="formSet_label">用户名：</label>
              <input class="formSet_input" name="username" id="user" type="text" ng-model="dataP.name" ng-pattern="/^[\u4e00-\u9fa5a-zA-Z0-9\-\_]{4,20}$/"
              ng-focus="usernameTipP=true" ng-blur="usernameTipP=false; validate(dataP.name, 'usernameP')" ng-change="isValid.usernameP=
              undefined"
              required>
              <i class="formSet_icon user"></i>
              <i class="formSet_icon success" ng-show="registerP.username.$dirty && registerP.username.$valid && isValid.usernameP==1"></i>
            </div>
            <label class="formSet-tip" ng-show="usernameTipP">4-20位字符，支持汉字、字母、数字及“-”、"_"组合</label>
            <label class="formSet-error formSet-error-long" ng-show="!usernameTipP && registerP.username.$invalid && !registerP.username.$error.required">用户名长度只能在4-20位字符之间
              <br>用户名只能由中文、英文、数字及"-"、"_"组成"_"组合</label>
            <label class="formSet-error" ng-show="!usernameTipP && registerP.username.$dirty && registerP.username.$error.required">请输入用户名</label>
            <label class="formSet-error" ng-show="!usernameTipP && isValid.usernameP==0">该用户名已被注册，请重新输入</label>
          </div>
          <div class="formSet clearfix">
            <div class="formSetWrap">
              <label class="formSet_label">请设置密码：</label>
              <input class="formSet_input" name="password" id="userpwd" type="password" ng-model="dataP.pwd" ng-pattern="/^.{6,20}$/" ng-focus="passwordTipP=true"
              ng-blur="passwordTipP=false" required>
              <i class="formSet_icon security"></i>
              <i class="formSet_icon success" ng-show="registerP.password.$dirty && registerP.password.$valid"></i>
            </div>
            <label class="formSet-tip" ng-show="passwordTipP">6-20位字符，建议由字母、数字和符号两种以上组合</label>
            <label class="formSet-error" ng-show="!passwordTipP && registerP.password.$invalid && !registerP.password.$error.required">密码长度只能在6-20位字符之间</label>
            <label class="formSet-error" ng-show="!passwordTipP && registerP.password.$dirty && registerP.password.$error.required">请输入密码</label>
          </div>
          <div class="formSet clearfix">
            <div class="formSetWrap">
              <label class="formSet_label">请确认密码：</label>
              <input class="formSet_input" name="confirm" id="userconf" type="password" ng-model="confirmP" ng-pattern="/^.{6,20}$/" ng-focus="confirmTipP=true"
              ng-blur="confirmTipP=false" required>
              <i class="formSet_icon security"></i>
              <i class="formSet_icon success" ng-show="registerP.confirm.$dirty && registerP.confirm.$valid"></i>
            </div>
            <label class="formSet-tip" ng-show="confirmTipP">请再次输入密码</label>
            <label class="formSet-error" ng-show="!confirmTipP && registerP.confirm.$dirty && (confirmP != dataP.pwd)">两次输入密码不一致</label>
          </div>
          <div class="formSet clearfix" ng-if="valiType==0">
            <div class="formSetWrap">
              <label class="formSet_label">验证手机：</label>
              <input class="formSet_input" name="mobile" type="text" ng-model="dataP.phone" ng-pattern="/^(13[0-9]|15[012356789]|17[678]|18[0-9]|14[57]|01[0])[0-9]{8}$/"
              ng-focus="mobileTipP=true" ng-blur="mobileTipP=false; validate(dataP.phone, 'mobileP')" ng-change="isValid.mobileP=undefined"
              required>
              <i class="formSet_icon phone"></i>
              <i class="formSet_icon success" ng-show="registerP.mobile.$dirty && registerP.mobile.$valid && isValid.mobileP==1"></i>
            </div>
            <label class="formSet-tip" ng-if="mobileTipP">完成验证后，您可以用该手机号登录或找回密码</label>
            <label class="formSet-error" ng-show="!mobileTipP && registerP.mobile.$invalid && !registerP.mobile.$error.required">手机号码格式有误，请输入正确的手机号</label>
            <label class="formSet-error" ng-show="!mobileTipP && registerP.mobile.$dirty && registerP.mobile.$error.required">请输入手机号码</label>
            <label class="formSet-error" ng-show="!mobileTipP && isValid.mobileP==0">该手机已被注册，请重新输入</label>
          </div>
          <div class="formSet clearfix" ng-if="valiType==1">
            <div class="formSetWrap">
              <label class="formSet_label">验证邮箱：</label>
              <input class="formSet_input" name="email" type="email" ng-model="dataP.email" ng-focus="emailTipP=true" ng-blur="emailTipP=false; validate(dataP.email, 'emailP')"
              ng-change="isValid.emailP=undefined" required>
              <i class="formSet_icon success" ng-show="registerP.email.$dirty && registerP.email.$valid  && isValid.emailP==1"></i>
            </div>
            <label class="formSet-tip" ng-show="emailTipP">完成验证后，您可以用该邮箱登录或找回密码</label>
            <label class="formSet-error" ng-show="!emailTipP && registerP.email.$invalid && !registerP.email.$error.required">邮箱地址不正确，请重新输入</label>
            <label class="formSet-error" ng-show="!emailTipP && registerP.email.$dirty && registerP.email.$error.required">请输入邮箱地址</label>
            <label class="formSet-error" ng-show="!emailTipP && isValid.emailP==0">该邮箱地址已被注册，请重新输入</label>
          </div>
          <span class="valiSwitch" ng-show="valiType==0">或 <a href="javascript:void(0)" ng-click="valiType=1">验证邮箱</a></span>
          <span class="valiSwitch" ng-show="valiType==1">或 <a href="javascript:void(0)" ng-click="valiType=0">验证手机</a></span>
          <!--<div class="formSet clearfix" ng-show="valiType==0">
            <div class="formSetWrap">
              <label class="formSet_label">短信验证码：</label>
              <input class="formSet_input formSet_input-short" name="phoneValiCode" type="text" ng-model="phoneValiCode" maxlength="6" required>
              <input class="getPhoneValiCode" type="button" value="获取短信验证码">
            </div>
          </div>-->
          <div class="formSet clearfix">
            <div class="formSetWrap">
              <label class="formSet_label">验证码：</label>
              <input class="formSet_input formSet_input-short" name="verify" type="text" ng-model="dataP.verify" required>
              <img class="verifyImg" ng-click="codeRefresh()" src="/Login/VerifyCode?_=1450339330618" alt="验证码">
            </div>
          </div>
          <div class="formSet formSet-agreement clearfix">
            <div class="formSetWrap">
              <label class="formSet_label"></label>
              <p class="agreementWrap">
                <input class="agreement" type="checkbox" ng-model="agreementP">
                <label>我已经阅读并同意<a href="#">《梦高速用户注册协议》</a></label>
              </p>
            </div>
          </div>
          <div class="formSet clearfix">
            <div class="formSetWrap">
              <label class="formSet_label"></label>
              <button class="submitBtn" type="button" ng-disabled="registerP.$invalid || !agreementP" ng-click="submit()">立即注册</button>
            </div>
          </div>
        </form>
      </div>

      <div class="reg_form reg_form-corporate" ng-show="!isPersonal" ng-cloak>
        <form name="registerC">
          <h4 class="reg_form_title reg_form_title-first">账户信息</h4>
          <div class="formSet clearfix">
            <div class="formSetWrap">
              <label class="formSet_label">用户名：</label>
              <input class="formSet_input" name="username" id="company" type="text" ng-model="data.name" ng-pattern="/^[\u4e00-\u9fa5a-zA-Z0-9\-\_]{4,20}$/"
              ng-focus="usernameTipC=true" ng-blur="usernameTipC=false; validate(data.name, 'usernameC')" ng-change="isValid.usernameC=undefined"
              required>
              <i class="formSet_icon user"></i>
              <i class="formSet_icon success" ng-show="registerC.username.$dirty && registerC.username.$valid && isValid.usernameC==1"></i>
            </div>
            <label class="formSet-tip" ng-show="usernameTipC">4-20位字符，支持汉字、字母、数字及“-”、"_"组合</label>
            <label class="formSet-error formSet-error-long" ng-show="!usernameTipC && registerC.username.$invalid && !registerC.username.$error.required">用户名长度只能在4-20位字符之间
              <br>用户名只能由中文、英文、数字及"-"、"_"组成"_"组合</label>
            <label class="formSet-error" ng-show="!usernameTipC && registerC.username.$dirty && registerC.username.$error.required">请输入用户名</label>
            <label class="formSet-error" ng-show="!usernameTipC && isValid.usernameC==0">该用户名已被注册，请重新输入</label>
          </div>

          <div class="formSet clearfix">
            <div class="formSetWrap">
              <label class="formSet_label">请设置密码：</label>
              <input class="formSet_input" name="password" id="compwd" type="password" ng-model="data.pwd" ng-pattern="/^.{6,20}$/" ng-focus="passwordTipC=true"
              ng-blur="passwordTipC=false" required>
              <i class="formSet_icon security"></i>
              <i class="formSet_icon success" ng-show="registerC.password.$dirty && registerC.password.$valid"></i>
            </div>
            <label class="formSet-tip" ng-show="passwordTipC">6-20位字符，建议由字母、数字和符号两种以上组合</label>
            <label class="formSet-error" ng-show="!passwordTipC && registerC.password.$invalid && !registerC.password.$error.required">密码长度只能在6-20位字符之间</label>
            <label class="formSet-error" ng-show="!passwordTipC && registerC.password.$dirty && registerC.password.$error.required">请输入密码</label>
          </div>
          <div class="formSet clearfix">
            <div class="formSetWrap">
              <label class="formSet_label">请确认密码：</label>
              <input class="formSet_input" name="confirm" id="comcon" type="password" ng-model="confirmC" ng-pattern="/^.{6,20}$/" ng-focus="confirmTipC=true"
              ng-blur="confirmTipC=false" required>
              <i class="formSet_icon security"></i>
              <i class="formSet_icon success" ng-show="registerC.confirm.$dirty && registerC.confirm.$valid"></i>
            </div>
            <label class="formSet-tip" ng-show="confirmTipC">请再次输入密码</label>
            <label class="formSet-error" ng-show="!confirmTipC && registerC.confirm.$dirty && (confirmC != data.pwd)">两次输入密码不一致</label>
          </div>

          <h4 class="reg_form_title">联系人信息</h4>
          <div class="formSet clearfix">
            <div class="formSetWrap">
              <label class="formSet_label">联系人姓名：</label>
              <input class="formSet_input" name="name" type="text" ng-model="data.lxrname" ng-pattern="/^[\u4e00-\u9fa5a-zA-Z]{2,20}$/"
              ng-focus="nameTip=true" ng-blur="nameTip=false; validate(data.name, 'nameC')" required ng-change="isValid.nameC=undefined">
              <i class="formSet_icon success" ng-show="registerC.name.$dirty && registerC.name.$valid"></i>
            </div>
            <label class="formSet-tip" ng-show="nameTip">2-20位字符，可由中文或英文组成</label>
            <label class="formSet-error formSet-error-long" ng-show="!nameTip && registerC.name.$invalid && !registerC.name.$error.required">联系人姓名长度只能在2-20位字符之间
              <br>联系人姓名只能由中文或英文组成</label>
            <label class="formSet-error" ng-show="!nameTip && registerC.name.$dirty && registerC.name.$error.required">请输入联系人姓名</label>
            <label class="formSet-error" ng-show="!nameTip && isValid.nameC==0">该联系人已被注册，请重新输入</label>
          </div>
          <div class="formSet clearfix">
            <div class="formSetWrap">
              <label class="formSet_label">手机号码：</label>
              <input class="formSet_input" name="mobile" type="text" ng-model="data.cellphone" ng-pattern="/^(13[0-9]|15[012356789]|17[678]|18[0-9]|14[57]|01[0])[0-9]{8}$/"
              ng-focus="mobileTipC=true" ng-blur="mobileTipC=false; validate(data.cellphone, 'cellphoneC')" ng-change="isValid.nameC=undefined" required>
              <i class="formSet_icon phone"></i>
              <i class="formSet_icon success" ng-show="registerC.mobile.$dirty && registerC.mobile.$valid"></i>
            </div>
            <label class="formSet-tip" ng-show="mobileTipC">请填写本人手机号，审核信息以短信通知</label>
            <label class="formSet-error" ng-show="!mobileTipC && registerC.mobile.$dirty && registerC.mobile.$error.required">请输入手机号码</label>
            <label class="formSet-error" ng-show="!mobileTipC && registerC.mobile.$invalid && !registerC.mobile.$error.required">手机号码格式有误，请输入正确的手机号</label>
            <label class="formSet-error" ng-show="!mobileTipC && isValid.mobileC==0">该手机已被注册，请重新输入</label>
          </div>
          <div class="formSet clearfix">
            <div class="formSetWrap">
              <label class="formSet_label">邮箱地址：</label>
              <input class="formSet_input" name="email" type="email" ng-model="data.email" ng-focus="emailTipC=true" ng-blur="emailTipC=false; validate(data.email, 'emailC')" ng-change="isValid.emailC=undefined">
              <i class="formSet_icon success" ng-show="registerC.email.$dirty && registerC.email.$valid"></i>
            </div>
            <label class="formSet-tip" ng-show="emailTipC">请填写本人邮箱，审核信息以邮件通知</label>
            <label class="formSet-error" ng-show="!emailTipC && registerC.email.$invalid">邮箱地址不正确，请重新输入</label>
            <label class="formSet-error" ng-show="!emailTipC && isValid.emailC==0">该邮箱已被注册，请重新输入</label>
          </div>

          <h4 class="reg_form_title">公司信息</h4>
          <div class="formSet clearfix">
            <div class="formSetWrap">
              <label class="formSet_label">公司名称：</label>
              <input class="formSet_input" name="companyname" type="text" ng-model="data.compay" ng-pattern="/^[\u4e00-\u9fa5a-zA-Z0-9\-\_\(\)（）]{4,40}$/"
              ng-focus="companynameTip=true" ng-blur="companynameTip=false" required>
              <i class="formSet_icon success" ng-show="registerC.companyname.$dirty && registerC.companyname.$valid"></i>
            </div>
            <label class="formSet-tip formSet-tip-long" ng-show="companynameTip">请填写工商局注册的全称
              <br>4-40位字符，可由中英文、数字及“-”、"_"、()、（）组成</label>
            <label class="formSet-error formSet-error-long" ng-show="!companynameTip && registerC.companyname.$invalid && !registerC.companyname.$error.required">公司名称长度只能在4-40位字符之间
              <br>只能由中英文、数字及“-”、"_"、()、（）组成</label>
            <label class="formSet-error" ng-show="!companynameTip && registerC.companyname.$dirty && registerC.companyname.$error.required">请输入公司名称</label>
          </div>
          <div select-area data-label="公司所在地:" data-required="true" data-name="area"></div>
          <div class="formSet clearfix">
            <div class="formSetWrap">
              <label class="formSet_label">公司地址：</label>
              <input class="formSet_input" name="addr" type="text" ng-model="data.addr" ng-pattern="/^.{4,40}$/" ng-focus="addrTip=true"
              ng-blur="addrTip=false" required>
              <i class="formSet_icon success" ng-show="registerC.addr.$dirty && registerC.addr.$valid"></i>
            </div>
            <label class="formSet-tip formSet-tip-long" ng-show="addrTip">请详细填写公司经营地址
              <br>如：北京市海淀区苏州街20号银丰大厦B座3层</label>
            <label class="formSet-error formSet-error-long" ng-show="!addrTip && registerC.addr.$invalid && !registerC.addr.$error.required">公司地址长度只能在4-50位字符之间
              <br>只能由中文、英文、数字及“_”、“-”、()、（）、#组成</label>
            <label class="formSet-error" ng-show="!addrTip && registerC.addr.$dirty && registerC.addr.$error.required">请填写公司地址</label>
          </div>
          <div class="formSet clearfix">
            <div class="formSetWrap">
              <label class="formSet_label">企业人数：</label>
              <select class="formSet_select" class="formSet_input" name="scale" type="text" ng-model="data.scale">
                <option class="formSet_option" value="">请选择</option>
                <option class="formSet_option" ng-repeat="scale in list.scales" value="{{scale}}">{{scale}}</option>
              </select>
              <i class="formSet_icon success select" ng-show="registerC.scale.$dirty && registerC.scale.$valid"></i>
            </div>
          </div>
          <div class="formSet clearfix">
            <div class="formSetWrap">
              <label class="formSet_label">公司行业：</label>
              <select class="formSet_select" class="formSet_input" name="trade" type="text" ng-model="data.trade">
                <option class="formSet_option" value="">请选择</option>
                <option class="formSet_option" ng-repeat="trade in list.trades" value="{{trade.id}}">{{trade.text}}</option>
              </select>
              <i class="formSet_icon success select" ng-show="registerC.trade.$dirty && registerC.trade.$valid"></i>
            </div>
          </div>
          <div class="formSet clearfix">
            <div class="formSetWrap">
              <label class="formSet_label">公司性质：</label>
              <select class="formSet_select" class="formSet_input" name="nature" type="text" ng-model="data.nature">
                <option class="formSet_option" value="">请选择</option>
                <option class="formSet_option" ng-repeat="nature in list.natures" value="{{nature}}">{{nature}}</option>
              </select>
              <i class="formSet_icon success select" ng-show="registerC.nature.$dirty && registerC.nature.$valid"></i>
            </div>
          </div>
          <div class="formSet clearfix">
            <div class="formSetWrap">
              <label class="formSet_label">验证码：</label>
              <input class="formSet_input formSet_input-short" name="verify" type="text" ng-model="data.verify" required>
              <img class="verifyImg" ng-click="codeRefresh()" src="/Login/VerifyCode?_=1450339330618" alt="验证码">
            </div>
          </div>
          <div class="formSet formSet-agreement clearfix">
            <div class="formSetWrap">
              <label class="formSet_label"></label>
              <p class="agreementWrap">
                <input class="agreement" type="checkbox" ng-model="agreementC">
                <label>我已经阅读并同意<a href="#">《梦高速用户注册协议》</a></label>
              </p>
            </div>
          </div>
          <div class="formSet clearfix">
            <div class="formSetWrap">
              <label class="formSet_label"></label>
              <button class="submitBtn" type="button" ng-disabled="registerC.$invalid || !agreementC" ng-click="submit()">立即注册</button>
            </div>
          </div>
        </form>
      </div>

      <div class="errorPop_wrap"></div>
      <div class="successPop">
        <p class="verifyCodeError">恭喜您您注册成功
          <br>系统正在转跳到登陆页面</p>
      </div>
      <div class="errorPop">
        <p class="verifyCodeError"></p>
        <button class="errorPop_btn" type="button" ng-click="closeErrorPop()">确定</button>
      </div>

    </div>
  </div>
  <div class="bottomNav">
    <ul class="bottomNav_ul clearfix">
      <li class="bottomNav_items"><a href="#">关于我们</a></li>
      <li class="bottomNav_items"><a href="#">联系我们</a></li>
      <li class="bottomNav_items"><a href="#">人才招聘</a></li>
      <li class="bottomNav_items"><a href="#">商家入驻</a></li>
      <li class="bottomNav_items"><a href="#">广告服务</a></li>
      <li class="bottomNav_items"><a href="#">友情链接</a></li>
      <li class="bottomNav_items bottomNav_items-last"><a href="#">English Site</a></li>
    </ul>
    <p class="copyrightText">Copyright@2015-2016 梦高速dreamhiway.com 版权所有</p>
  </div>

  <script src="http://localhost:8070/scripts/jquery-1.11.3.min.js"></script>
  <script src="http://localhost:8070/lib/angular/angular.min.js"></script>
  <script src="http://localhost:8070/scripts/tpl.js"></script>
  <script src="http://localhost:8070/scripts/data.js"></script>
  <script src="http://localhost:8070/scripts/baseapp.js"></script>
  <script src="http://localhost:8070/scripts/regCtrl.js"></script>
</body>

</html>